<footer>
    <div class="footer-logo">
        <img src="/images/footer-logo.svg" alt="Footer logo" />
    </div>
    <div class="footer-navigation-area">
        <div class="footer-navigation">
            <div class="list">
                <p class="name"><%=siteData.translations.games%></p>
                <% siteData.allGames.forEach(function (game) { %>
                    <a href="/games/<%=game.url%>/" class="item"> <%=game.name%></a>
                <%})%>
            </div>
            <div class="list">
                <p class="name"><%=siteData.translations.support%></p>
                <a href="javascript:;" class="item"><%=siteData.translations.help_center%></a>
                <a href="/#faq_id" class="item" data-href="faq"><%=siteData.translations.frequently_asked_questions%></a>
                <a href="javascript:;" class="item"><%=siteData.translations.contact_us%></a>
            </div>
        </div>
        <div class="sponsors-area">
            <div class="sponsors">
                <p class="name">powered by</p>
                <div class="list">
                    <a href="javascript:;"><img src="/images/darkness-icon.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/steam-icon.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/fifa-icon.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/epic-games-icon.svg" alt=""></a>
                </div>
            </div>
            <div class="sponsors">
                <p class="name"><%=siteData.translations.social_media%></p>
                <div class="list">
                    <a href="javascript:;"><img src="/images/instagram-1384031.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/telegram.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="bottom-area">
            <div class="terms-and-privacy">
                <a href="/terms" class="btn-terms"><%=siteData.translations.terms_and_conditions%></a>
                <a href="/terms" class="btn-privacy"><%=siteData.translations.privacy_policy%></a>
            </div>
            <div class="all-rights">

            </div>
            <div class="created-txt">
                2020, prizchall - all rights reserved
            </div>
        </div>
    </div>
</footer>
<!--<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.slim.js"></script>-->

<!--<script>-->
<!--    ioClient = io.connect('http://localhost:3000')-->
<!--    ioClient.on('connect', socket => {-->
<!--        console.log('socket',socket)-->
<!--        ioClient.on('message', {name:'grigor'})-->
<!--    })-->
<!--</script>-->
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script>
    var notifications = '<%-JSON.stringify(siteData.notifications)%>';
    var userInfos = '<%-JSON.stringify(siteData.userInfo)%>';
    var notes = [];
    var userInfo = {};

    if(notifications !== "")
        notes = JSON.parse(notifications)
    if(userInfos !== "")
        userInfo = JSON.parse(userInfos)

    var translations = JSON.parse('<%-JSON.stringify(siteData.translations)%>')
    var lang = JSON.parse('<%-JSON.stringify(siteData.lang)%>')
</script>
<script src="/javascripts/setNotes.js"></script>
<!--<script src="/socket.io/socket.io.js"></script>-->
<script>

    // var socket = io.connect('http://localhost:3000/',
    //     {
    //         'reconnectionDelay': 10 // defaults to 500
    //     }
    // );
    //
    //
    //
    // socket.on('connect_error', function(){
    //     console.log('Connection Failed');
    //     //Если более 5 попыток переподключения, то отключаем подключение
    //     connect_error_count++;
    //     if (connect_error_count>=5){
    //         socket.disconnect();
    //         console.log("stop reconection");
    //     }
    // });
    //
    //
    //
    // socket.on('reconnect', function(){
    //     console.log('reconnect');
    //     connect_error_count=0;
    // });
    //
    // socket.on('newinfo', function(data) {
    //     console.log('1111111111111111',data)
    // })
</script>
