<!DOCTYPE html>
<html  lang="<%=siteData.lang%>"  dir="<%if(siteData.lang == "ir"){%><%="rtl"%><%}else{%><%="ltr"%><%}%>"  >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prizchall</title>
    <link rel="shortcut icon" type="image/png" href="/images/Logo.svg" />
    <link href="/stylesheets/datepicker.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tournament.css' />
<!--    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>-->
    <script src="/javascripts/main.js"></script>

</head>

<body>
<div id="crisp_chat"></div>
<script type="text/javascript">
    window.$crisp=[];
    window.CRISP_WEBSITE_ID="197d5b27-663b-4451-b6eb-6b0e86b2e527";
    (function(){
        d=document;
        s=d.createElement("script");
        s.src="https://client.crisp.chat/l.js";
        s.async=1;
        d.getElementById("crisp_chat").appendChild(s);
    })();
</script>
<div id="notification_reminder" class="">new notification</div>
<div id="load_G">
    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="150px" height="150px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
  <path fill="#FFB608" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
      <animateTransform attributeType="xml"
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="0.9s"
                        repeatCount="indefinite"/>
  </path>
  </svg>
</div>
    <% if(typeof siteData.userInfo === "undefined"){ %>
        <%- include("./popUps/logPopup.ejs") %>
    <%}%>
    <%- include("./popUps/disputePopup.ejs") %>
    <% if (typeof siteData.userInfo === "undefined"){ %>
    <%- include("./popUps/resetPasswordPopup.ejs") %>
    <% } %>
    <header>
        <div class="menu-btn">
            <a href="javascript:;"></a>
        </div>
        <% if(typeof siteData.userInfo === "undefined"){ %>
        <div class="buttons-area logout">
            <div class="login-btn">
                <a href="javascript:;" data-tab="signin"><%-siteData.translations.already_loin_text%></a>
            </div>
            <div class="reg-btn">
                <a href="javascript:;" data-tab="signup">
                    <%-siteData.translations.sign_up_now%>
                </a>
            </div>
        </div>
        <% }else {%>
        <div class="buttons-area login">
            <div class="notification-area mr-l8">
                <a href="javascript:;" class="notification-btn">
                    <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.8824 14.7V8.925C15.8824 5.67 13.6588 3.045 10.5882 2.31V1.575C10.5882 0.735 9.84706 0 9 0C8.15294 0 7.41176 0.735 7.41176 1.575V2.31C4.34118 3.045 2.11765 5.67 2.11765 8.925V14.7L0 16.8V17.85H18V16.8L15.8824 14.7ZM9 21C10.1647 21 11.1176 20.055 11.1176 18.9H6.88235C6.88235 20.055 7.83529 21 9 21ZM4.23529 15.75H13.7647V8.925C13.7647 6.3 11.6471 4.2 9 4.2C6.35294 4.2 4.23529 6.3 4.23529 8.925V15.75Z" />
                    </svg>
                </a>
                <span class="notification-count d-none"><%=siteData.unreadNotes%></span>
                <div class="triangle"></div>
                <div class="notifications">
                    <div class="n-list">

                    </div>
                </div>
            </div>
            <div class="user-info-area">
                <div class="button-area">
                    <a href="javascript:;" class="username-btn"><%=siteData.userInfo.username%></a>
                </div>
                <div class="triangle"></div>
                <div class="user-info">
                    <div class="item">
                        <a href="/profile" class="nav-item">
                            <div class="user">
                                <div class="img-area">
                                    <img src="/images/user-placeholder-men.svg" alt="User">
                                </div>
                                <div class="txt-area">
                                    <p class="welcome-txt"><%=siteData.translations.welcome%>, <%=siteData.userInfo.firstName%> !</p>
                                    <p class="amount-txt"><span class="amount">$<%=siteData.userInfo.userMoney%> </span> <%=siteData.translations.welcome%>
                                    </p>
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/games/all" class="nav-item">
                            <div class="nav-left">
                                <div class="img-area">
                                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M16.1333 0C17.7528 0 19.1353 0.585963 20.2811 1.75776C21.427 2.92961 22 4.34366 22 5.99992C22 7.65642 21.427 9.07006 20.2811 10.2421C19.1353 11.4141 17.7526 12 16.1333 12C14.6664 12 13.3757 11.4998 12.2604 10.4998H9.73958C8.62416 11.4998 7.33344 12 5.8667 12C4.2472 12 2.86446 11.4138 1.71882 10.2421C0.573061 9.07031 0 7.65638 0 5.99992C0 4.34366 0.5729 2.92961 1.71882 1.75776C2.86446 0.585922 4.24737 0 5.8667 0H16.1333ZM8.90162 7.45152C8.96728 7.38612 9 7.30222 9 7.20008H8.99992V5.80003C8.99992 5.69797 8.96721 5.61407 8.90154 5.54845C8.83592 5.48278 8.75213 5.45007 8.64996 5.45007H6.54989V3.34997C6.54989 3.24791 6.51717 3.16401 6.45151 3.09838C6.38588 3.03272 6.3021 3 6.19992 3H4.79988C4.69783 3 4.61389 3.03268 4.5483 3.09838C4.48276 3.16401 4.45004 3.24791 4.45004 3.34997V5.45007H2.34985C2.24779 5.45007 2.16389 5.48278 2.09827 5.54845C2.03272 5.61407 2 5.69797 2 5.80003V7.20008C2 7.30222 2.03272 7.38612 2.09827 7.45152C2.16389 7.51722 2.24779 7.54997 2.34985 7.54997H4.45012V9.65011C4.45012 9.75225 4.48283 9.83615 4.54838 9.90158C4.61401 9.96725 4.6979 10 4.79996 10H6.2C6.30221 10 6.38596 9.96725 6.45158 9.90158C6.51724 9.83615 6.54996 9.75225 6.54996 9.65011V7.54997H8.65004C8.75221 7.54997 8.83599 7.51722 8.90162 7.45152ZM15.5607 8.56039C15.2676 8.85339 14.9141 9 14.4998 9C14.0861 9 13.7324 8.85339 13.4395 8.56039C13.1465 8.26767 13 7.914 13 7.49996C13 7.08588 13.1465 6.73237 13.4395 6.43949C13.7324 6.14677 14.0861 6 14.4998 6C14.9141 6 15.2676 6.14677 15.5607 6.43949C15.8534 6.73237 16 7.08588 16 7.49996C16 7.914 15.8534 8.26767 15.5607 8.56039ZM17.4999 6C17.914 6 18.2677 5.85343 18.5603 5.56056C18.8535 5.26762 19 4.91405 19 4.4999C19 4.08595 18.8534 3.73242 18.5603 3.43948C18.2677 3.14645 17.914 3 17.4999 3C17.0858 3 16.7323 3.14645 16.4395 3.43948C16.1465 3.73242 16 4.08595 16 4.4999C16 4.91409 16.1465 5.2675 16.4395 5.56056C16.7323 5.85359 17.0858 6 17.4999 6Z" />
                                    </svg>
                                </div>
                                <div class="txt-area">
                                    <%=siteData.translations.browse_matches%>
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/challenge/my" class="nav-item">
                            <div class="nav-left">
                                <div class="img-area">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.18406 13.1295C3.05043 12.9969 2.83059 12.9969 2.69697 13.1295L2.21634 13.6043C2.08272 13.7369 2.08272 13.9551 2.21634 14.0877L3.42976 15.2918L1.99004 16.7205C1.92754 16.712 1.86503 16.7077 1.80038 16.7077C1.06328 16.7077 0.464111 17.3023 0.464111 18.0338C0.464111 18.7652 1.06328 19.3598 1.80038 19.3598C2.53748 19.3598 3.13664 18.7652 3.13664 18.0338C3.13664 17.9888 3.13449 17.9439 3.13018 17.899L4.59145 16.4489L5.80486 17.6531C5.93849 17.7857 6.15833 17.7857 6.29195 17.6531L6.77258 17.1761C6.9062 17.0435 6.9062 16.8253 6.77258 16.6927L3.18406 13.1295Z" />
                                        <path
                                            d="M4.56763 13.138L6.76169 15.3153L9.08722 13.5679L6.0095 11.228L4.56763 13.138Z" />
                                        <path
                                            d="M19.6028 0.00788263L13.803 1.32325C13.553 1.381 13.3332 1.52216 13.1801 1.72534L10.7102 4.99772L12.4495 7.34399L12.5982 7.54503L14.2082 9.71592L18.2148 6.70448C18.4131 6.55477 18.5532 6.34089 18.6114 6.10134L19.9908 0.395006C20.0468 0.164015 19.8378 -0.0434487 19.6028 0.00788263Z" />
                                        <path
                                            d="M14.0141 14.5463L14.6305 13.9346L15.4323 13.139L6.81983 1.72632C6.66681 1.52313 6.44697 1.38197 6.19696 1.32422L0.397137 0.00885678C0.162213 -0.0424745 -0.0468482 0.16499 0.00918873 0.398119L1.38856 6.10445C1.44675 6.344 1.58684 6.55788 1.78513 6.70759L13.2382 15.3163L14.0141 14.5463Z" />
                                        <path
                                            d="M18.1568 16.7077C18.105 16.7077 18.0555 16.7098 18.008 16.7163L16.5705 15.2918L17.7839 14.0877C17.9175 13.9551 17.9175 13.7369 17.7839 13.6043L17.3033 13.1295C17.1696 12.9969 16.9498 12.9969 16.8162 13.1295L13.2277 16.6927C13.094 16.8253 13.094 17.0435 13.2277 17.1761L13.7083 17.6531C13.8419 17.7857 14.0617 17.7857 14.1954 17.6531L15.4088 16.4489L16.8313 17.8605C16.8248 17.9183 16.8205 17.976 16.8205 18.0338C16.8205 18.7652 17.4197 19.3598 18.1568 19.3598C18.8939 19.3598 19.493 18.7652 19.493 18.0338C19.493 17.3002 18.8939 16.7077 18.1568 16.7077Z" />
                                    </svg>
                                </div>
                                <div class="txt-area">
                                    <%=siteData.translations.my_challenges%>
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/challenge/history" class="nav-item">
                            <div class="nav-left">
                                <div class="img-area">
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10 1.25478C9.91639 1.25478 9.8495 1.25478 9.78261 1.27151V0.367965C9.78261 0.0835167 9.48161 -0.0838062 9.23077 0.0500521L4.58194 2.74395C4.34783 2.87781 4.34783 3.22919 4.58194 3.37978L9.23077 6.07367C9.46488 6.20753 9.78261 6.04021 9.78261 5.75576V5.08647C9.8495 5.1032 9.93311 5.1032 10 5.1032C13.3946 5.1032 16.1538 7.86403 16.1538 11.2607C16.1538 14.6573 13.3946 17.4014 10 17.4014C6.60535 17.4014 3.84615 14.6406 3.84615 11.2439C3.84615 10.1731 2.99331 9.31974 1.92308 9.31974C0.852843 9.31974 0 10.1898 0 11.2439C0 16.7656 4.48161 21.2499 10 21.2499C15.5184 21.2499 20 16.7656 20 11.2439C20 5.73903 15.5184 1.25478 10 1.25478Z" />
                                    </svg>
                                </div>
                                <div class="txt-area">
                                    <%=siteData.translations.my_game_history%>
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/tournament/history" class="nav-item">
                            <div class="nav-left">
                                <div class="img-area">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                                d="M3.18406 13.1295C3.05043 12.9969 2.83059 12.9969 2.69697 13.1295L2.21634 13.6043C2.08272 13.7369 2.08272 13.9551 2.21634 14.0877L3.42976 15.2918L1.99004 16.7205C1.92754 16.712 1.86503 16.7077 1.80038 16.7077C1.06328 16.7077 0.464111 17.3023 0.464111 18.0338C0.464111 18.7652 1.06328 19.3598 1.80038 19.3598C2.53748 19.3598 3.13664 18.7652 3.13664 18.0338C3.13664 17.9888 3.13449 17.9439 3.13018 17.899L4.59145 16.4489L5.80486 17.6531C5.93849 17.7857 6.15833 17.7857 6.29195 17.6531L6.77258 17.1761C6.9062 17.0435 6.9062 16.8253 6.77258 16.6927L3.18406 13.1295Z" />
                                        <path
                                                d="M4.56763 13.138L6.76169 15.3153L9.08722 13.5679L6.0095 11.228L4.56763 13.138Z" />
                                        <path
                                                d="M19.6028 0.00788263L13.803 1.32325C13.553 1.381 13.3332 1.52216 13.1801 1.72534L10.7102 4.99772L12.4495 7.34399L12.5982 7.54503L14.2082 9.71592L18.2148 6.70448C18.4131 6.55477 18.5532 6.34089 18.6114 6.10134L19.9908 0.395006C20.0468 0.164015 19.8378 -0.0434487 19.6028 0.00788263Z" />
                                        <path
                                                d="M14.0141 14.5463L14.6305 13.9346L15.4323 13.139L6.81983 1.72632C6.66681 1.52313 6.44697 1.38197 6.19696 1.32422L0.397137 0.00885678C0.162213 -0.0424745 -0.0468482 0.16499 0.00918873 0.398119L1.38856 6.10445C1.44675 6.344 1.58684 6.55788 1.78513 6.70759L13.2382 15.3163L14.0141 14.5463Z" />
                                        <path
                                                d="M18.1568 16.7077C18.105 16.7077 18.0555 16.7098 18.008 16.7163L16.5705 15.2918L17.7839 14.0877C17.9175 13.9551 17.9175 13.7369 17.7839 13.6043L17.3033 13.1295C17.1696 12.9969 16.9498 12.9969 16.8162 13.1295L13.2277 16.6927C13.094 16.8253 13.094 17.0435 13.2277 17.1761L13.7083 17.6531C13.8419 17.7857 14.0617 17.7857 14.1954 17.6531L15.4088 16.4489L16.8313 17.8605C16.8248 17.9183 16.8205 17.976 16.8205 18.0338C16.8205 18.7652 17.4197 19.3598 18.1568 19.3598C18.8939 19.3598 19.493 18.7652 19.493 18.0338C19.493 17.3002 18.8939 16.7077 18.1568 16.7077Z" />
                                    </svg>
                                </div>
                                <div class="txt-area">
                                    Tournament History
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="create-match-area">
                <a href="/challenge/create" class="create-btn btn-yellow"><%=siteData.translations.create_match%></a>
            </div>
        </div>
        <%}%>
        <div class="lng-area">
            <% siteData.allLanguages.forEach(function (langItem) { %>
            <div class="lang_area <% if(langItem.lang_code == siteData.lang){ %>current<%}else {%>other<%}%>">
                <a data-lang="<%=langItem.lang_code%>" href="javascript:;">
                    <img src="<%=langItem.img%>" alt="<%=langItem.lang_name%>">
                </a>
            </div>
            <% })%>
        </div>
        <div class="layer d-none"></div>
        <section class="left-navigation">
            <div class="up-area">
                <div class="logo-area">
                    <a href="/">
                        <img src="/images/Logo.svg" alt="Logo" class="small-logo" />
                        <img src="/images/footer-logo.svg" alt="Prizchall logo" class="big-logo d-none" />
                    </a>
                </div>
                <div class="logo-area mobile">
                    <a href="/">
                        <img src="/images/Logo.svg" alt="Logo" class="small-logo">
                        <img src="/images/prizchall-mobile-logo.svg" alt="Prizchall logo" class="big-logo d-none">
                    </a>
                </div>
                <% if(typeof siteData.userInfo !== "undefined"){ %>
                    <div class="user-info mobile">
                        <div class="item">
                            <a href="/profile" class="nav-item">
                                <div class="user">
                                    <div class="img-area">
                                        <img src="/images/user-placeholder-men.svg" alt="User">
                                    </div>
                                    <div class="txt-area">
                                        <p class="welcome-txt"><%=siteData.translations.welcome%>, <%=siteData.userInfo.firstName%> !</p>
                                        <p class="amount-txt"><span class="amount">$<%=siteData.userInfo.userMoney%> </span> <%=siteData.translations.av_credits%>
                                        </p>
                                    </div>
                                </div>
                                <div class="arrow">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="javascript:;" class="nav-item">
                                <div class="nav-left">
                                    <div class="img-area">
                                        <svg width="22" height="12" viewBox="0 0 22 12" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M16.1333 0C17.7528 0 19.1353 0.585963 20.2811 1.75776C21.427 2.92961 22 4.34366 22 5.99992C22 7.65642 21.427 9.07006 20.2811 10.2421C19.1353 11.4141 17.7526 12 16.1333 12C14.6664 12 13.3757 11.4998 12.2604 10.4998H9.73958C8.62416 11.4998 7.33344 12 5.8667 12C4.2472 12 2.86446 11.4138 1.71882 10.2421C0.573061 9.07031 0 7.65638 0 5.99992C0 4.34366 0.5729 2.92961 1.71882 1.75776C2.86446 0.585922 4.24737 0 5.8667 0H16.1333ZM8.90162 7.45152C8.96728 7.38612 9 7.30222 9 7.20008H8.99992V5.80003C8.99992 5.69797 8.96721 5.61407 8.90154 5.54845C8.83592 5.48278 8.75213 5.45007 8.64996 5.45007H6.54989V3.34997C6.54989 3.24791 6.51717 3.16401 6.45151 3.09838C6.38588 3.03272 6.3021 3 6.19992 3H4.79988C4.69783 3 4.61389 3.03268 4.5483 3.09838C4.48276 3.16401 4.45004 3.24791 4.45004 3.34997V5.45007H2.34985C2.24779 5.45007 2.16389 5.48278 2.09827 5.54845C2.03272 5.61407 2 5.69797 2 5.80003V7.20008C2 7.30222 2.03272 7.38612 2.09827 7.45152C2.16389 7.51722 2.24779 7.54997 2.34985 7.54997H4.45012V9.65011C4.45012 9.75225 4.48283 9.83615 4.54838 9.90158C4.61401 9.96725 4.6979 10 4.79996 10H6.2C6.30221 10 6.38596 9.96725 6.45158 9.90158C6.51724 9.83615 6.54996 9.75225 6.54996 9.65011V7.54997H8.65004C8.75221 7.54997 8.83599 7.51722 8.90162 7.45152ZM15.5607 8.56039C15.2676 8.85339 14.9141 9 14.4998 9C14.0861 9 13.7324 8.85339 13.4395 8.56039C13.1465 8.26767 13 7.914 13 7.49996C13 7.08588 13.1465 6.73237 13.4395 6.43949C13.7324 6.14677 14.0861 6 14.4998 6C14.9141 6 15.2676 6.14677 15.5607 6.43949C15.8534 6.73237 16 7.08588 16 7.49996C16 7.914 15.8534 8.26767 15.5607 8.56039ZM17.4999 6C17.914 6 18.2677 5.85343 18.5603 5.56056C18.8535 5.26762 19 4.91405 19 4.4999C19 4.08595 18.8534 3.73242 18.5603 3.43948C18.2677 3.14645 17.914 3 17.4999 3C17.0858 3 16.7323 3.14645 16.4395 3.43948C16.1465 3.73242 16 4.08595 16 4.4999C16 4.91409 16.1465 5.2675 16.4395 5.56056C16.7323 5.85359 17.0858 6 17.4999 6Z" />
                                        </svg>
                                    </div>
                                    <div class="txt-area">
                                        <%=siteData.translations.browse_matches%>
                                    </div>
                                </div>
                                <div class="arrow">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/challenge/my" class="nav-item">
                                <div class="nav-left">
                                    <div class="img-area">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M3.18406 13.1295C3.05043 12.9969 2.83059 12.9969 2.69697 13.1295L2.21634 13.6043C2.08272 13.7369 2.08272 13.9551 2.21634 14.0877L3.42976 15.2918L1.99004 16.7205C1.92754 16.712 1.86503 16.7077 1.80038 16.7077C1.06328 16.7077 0.464111 17.3023 0.464111 18.0338C0.464111 18.7652 1.06328 19.3598 1.80038 19.3598C2.53748 19.3598 3.13664 18.7652 3.13664 18.0338C3.13664 17.9888 3.13449 17.9439 3.13018 17.899L4.59145 16.4489L5.80486 17.6531C5.93849 17.7857 6.15833 17.7857 6.29195 17.6531L6.77258 17.1761C6.9062 17.0435 6.9062 16.8253 6.77258 16.6927L3.18406 13.1295Z" />
                                            <path
                                                d="M4.56763 13.138L6.76169 15.3153L9.08722 13.5679L6.0095 11.228L4.56763 13.138Z" />
                                            <path
                                                d="M19.6028 0.00788263L13.803 1.32325C13.553 1.381 13.3332 1.52216 13.1801 1.72534L10.7102 4.99772L12.4495 7.34399L12.5982 7.54503L14.2082 9.71592L18.2148 6.70448C18.4131 6.55477 18.5532 6.34089 18.6114 6.10134L19.9908 0.395006C20.0468 0.164015 19.8378 -0.0434487 19.6028 0.00788263Z" />
                                            <path
                                                d="M14.0141 14.5463L14.6305 13.9346L15.4323 13.139L6.81983 1.72632C6.66681 1.52313 6.44697 1.38197 6.19696 1.32422L0.397137 0.00885678C0.162213 -0.0424745 -0.0468482 0.16499 0.00918873 0.398119L1.38856 6.10445C1.44675 6.344 1.58684 6.55788 1.78513 6.70759L13.2382 15.3163L14.0141 14.5463Z" />
                                            <path
                                                d="M18.1568 16.7077C18.105 16.7077 18.0555 16.7098 18.008 16.7163L16.5705 15.2918L17.7839 14.0877C17.9175 13.9551 17.9175 13.7369 17.7839 13.6043L17.3033 13.1295C17.1696 12.9969 16.9498 12.9969 16.8162 13.1295L13.2277 16.6927C13.094 16.8253 13.094 17.0435 13.2277 17.1761L13.7083 17.6531C13.8419 17.7857 14.0617 17.7857 14.1954 17.6531L15.4088 16.4489L16.8313 17.8605C16.8248 17.9183 16.8205 17.976 16.8205 18.0338C16.8205 18.7652 17.4197 19.3598 18.1568 19.3598C18.8939 19.3598 19.493 18.7652 19.493 18.0338C19.493 17.3002 18.8939 16.7077 18.1568 16.7077Z" />
                                        </svg>
                                    </div>
                                    <div class="txt-area">
                                        <%=siteData.translations.my_challenges%>
                                    </div>
                                </div>
                                <div class="arrow">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/challenge/history" class="nav-item">
                                <div class="nav-left">
                                    <div class="img-area">
                                        <svg width="20" height="22" viewBox="0 0 20 22" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10 1.25478C9.91639 1.25478 9.8495 1.25478 9.78261 1.27151V0.367965C9.78261 0.0835167 9.48161 -0.0838062 9.23077 0.0500521L4.58194 2.74395C4.34783 2.87781 4.34783 3.22919 4.58194 3.37978L9.23077 6.07367C9.46488 6.20753 9.78261 6.04021 9.78261 5.75576V5.08647C9.8495 5.1032 9.93311 5.1032 10 5.1032C13.3946 5.1032 16.1538 7.86403 16.1538 11.2607C16.1538 14.6573 13.3946 17.4014 10 17.4014C6.60535 17.4014 3.84615 14.6406 3.84615 11.2439C3.84615 10.1731 2.99331 9.31974 1.92308 9.31974C0.852843 9.31974 0 10.1898 0 11.2439C0 16.7656 4.48161 21.2499 10 21.2499C15.5184 21.2499 20 16.7656 20 11.2439C20 5.73903 15.5184 1.25478 10 1.25478Z" />
                                        </svg>
                                    </div>
                                    <div class="txt-area">
                                        <%=siteData.translations.my_game_history%>
                                    </div>
                                </div>
                                <div class="arrow">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                <%}%>
                <div class="games-list">
<!--                    <div class="item">-->
<!--                        <a href="/tournament">-->
<!--                            <span class="logo">-->
<!--                                <img class="tournament_icon" src="/images/cup_1.svg" alt="tournament">-->
<!--                            </span>-->
<!--                            <span class="name">-->
<!--                                Tournament-->
<!--                            </span>-->
<!--                        </a>-->
<!--                    </div>-->
                    <% siteData.allGames.forEach(function (game) { %>
                    <div class="item">
                        <a href="/games/<%=game.url%>/">
                            <span class="logo">
                                <%-game.image%>
                            </span>
                            <span class="name">
                                <%=game.name%>
                            </span>
                        </a>
                    </div>
                    <%})%>
                </div>

                <% if(typeof siteData.userInfo !== "undefined"){ %>

                <div class="bottom-info">
                    <div class="info-inner d-none">
                        <div class="create-match-area">
                            <a href="/challenge/create" class="btn-yellow create-btn"><%=siteData.translations.create_match%></a>
                        </div>
                        <div class="txt">
                            <p><%=siteData.translations.logged_in_as%> <br> <span><%=siteData.userInfo.username%></span></p>
                            <!-- <a href="javascript:;" class="not-you-btn">not you? please login here</a> -->
                            <a href="/auth/logout" class="loguot-btn"><%=siteData.translations.log_out%></a>
                        </div>
                    </div>

                </div>
                <%}else{%>
                <div class="navigation">
                    <ul class="d-none">
                        <!-- <li><a href="javascript:;" data-nav="how-it-works">how it works</a></li> -->
                        <li><a href="javascript:;" data-nav="faq">support & faq</a></li>
                        <li><a href="javascript:;" data-nav="about">about us</a></li>
                    </ul>
                </div>
                <%}%>
                <div class="lng-area mobile">
                    <% siteData.allLanguages.forEach(function (langItem) { %>
                        <a href="javascript:;"  data-lang="<%=langItem.lang_code%>">
                            <img src="<%=langItem.img%>" alt="<%=langItem.lang_name%>">
                        </a>
                    <% })%>
                </div>

            </div>
            <div class="bottom-logo">
                <img src="/images/prizchall.svg" alt="Prizchall logo" />
            </div>
        </section>
    </header>
