<%- include("header.ejs") %>
<main class="not-found-page">
    <div class="txt-area">
        <h1>
            Oops!
            <span>Error 404</span>
        </h1>
        <p class="txt">
            <span>Sorry!</span> We cannot find the page you’re looking for. Please go back to your previous page.
        </p>
        <a href="/" class="btn-yellow go-back-btn">go back</a>
    </div>
    <div class="img-area">
        <img src="/images/not-found-warning.svg" alt="Warning" />
    </div>
</main>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>