<%- include("../default/header.ejs") %>
<main class="account-security-page">
    <section class="account-security-section">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <form name="accountSecurityForm" id="accountSecurityForm">
            <h1 class="section-title">
                Account Security
            </h1>
            <div class="input-fields">
                <div class="input-field">
                    <div class="label-area">
                        <label for="oldPassword">Old Password</label>
                    </div>
                    <input type="password" name="oldPassword" id="oldPassword" />
                    <p id="profileOldPasswordError" class="errorFiled"></p>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label for="oldPassword">New Password</label>
                    </div>
                    <input type="password" name="newPassword" id="newPassword" />
                    <p id="profileNewPasswordError" class="errorFiled"></p>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label for="oldPassword">Confirm New Password</label>
                    </div>
                    <input type="password" name="confirmPassword" id="confirmPassword" />
                    <p id="profileConfirmPasswordError" class="errorFiled"></p>
                </div>
            </div>
            <div class="button">
                <button id="btnChangePwd" class="btn-yellow">save changes</button>
            </div>
        </form>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>
