<%- include("../default/header.ejs") %>
<main class="deposit-page">
    <section class="tab-area">
        <div class="tab-item">
            <a href="#deposit" data-link="deposit"><%=siteData.translations.deposit%></a>
        </div>
        <div class="tab-item">
            <a href="#withdraw" data-link="withdraw"><%=siteData.translations.withdraw%></a>
        </div>
        <div class="tab-item">
            <a href="#transactions" data-link="transactions"><%=siteData.translations.transactions%></a>
        </div>
    </section>
    <section class="tab-section deposit-section" data-section="deposit">
        <div class="deposit-area">
            <h1 class="section-title"><%=siteData.translations.deposit%></h1>
            <div class="deposit-option-area">
                <div class="tab-header">
                    <div class="tab-link active">
                        <a href="javascript:;" data-tab="card2card">
                            <img src="/images/deposite/card2card-logo.svg" alt="card2card" />
                        </a>
                    </div>
                    <div class="tab-link">
                        <a href="javascript:;" data-tab="bitcoin">
                            <img src="/images/deposite/bitcoin-logo.svg" alt="Bitcoin" />
                        </a>
                    </div>
                    <div class="tab-link">
                        <a href="javascript:;" data-tab="perfectmoney">
                            <img src="/images/deposite/perfect-money-logo.png" alt="Perfect Money" />
                        </a>
                    </div>
                    <div class="tab-link">
                        <a href="javascript:;" data-tab="visa-mastercard">
                            <img src="/images/deposite/visa-mastercard.png" alt="Visa MasterCard" />
                        </a>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab c2c-area active" data-tab="card2card">
                        <form name="c2cForm" id="c2cForm" action="/profile/deposit/c2c-deposit" method="post">
                            <div class="input-fields">
                                <div class="input-field">
                                    <div class="label-area">
                                        <label for="cardNumber"><%=siteData.translations.card_number%></label>
                                        <span class="validation-error-msg err-c2c-card-number d-none"><%=siteData.translations.wrong%></span>
                                    </div>
                                    <div class="input">
                                        <input type="number" id="cardNumber" name="cardNumber" />
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="label-area">
                                        <label for="amount"><%=siteData.translations.amount%></label>
                                        <span class="validation-error-msg err-c2c-amount d-none"><%=siteData.translations.wrong%></span>
                                    </div>
                                    <div class="input">
                                        <input type="number" id="amount" name="amount" />
                                    </div>
                                </div>
                            </div>
                            <div class="button">
                                <button id="btnC2C" class="btn-yellow"><%=siteData.translations.deposit%></button>
                            </div>
                        </form>
                    </div>
                    <div class="tab bitcoin-area" data-tab="bitcoin">
                        <form name="bitcoinForm" id="bitcoinForm" action="/profile/deposit/bitcoin-deposit" method="post">
                            <div class="input-fields">
                                <div class="input-field">
                                    <div class="label-area">
                                        <label for="bitAmount"><%=siteData.translations.amount%></label>
                                        <span class="validation-error-msg err-bit-amount d-none"><%=siteData.translations.wrong%></span>
                                    </div>
                                    <div class="input">
                                        <input type="number" id="bitAmount" name="bitAmount" />
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="label-area">
                                        <label for="walletAddress"><%=siteData.translations.wallet_address%></label>
                                        <span class="validation-error-msg err-wallet-address d-none"><%=siteData.translations.wrong%></span>
                                    </div>
                                    <div class="input">
                                        <input type="text" id="walletAddress" name="walletAddress" />
                                    </div>
                                </div>
                            </div>
                            <div class="button">
                                <button id="btnBitcoin" class="btn-yellow"><%=siteData.translations.deposit%></button>
                            </div>
                        </form>
                    </div>
                    <div class="tab perfectmoney-area" data-tab="perfectmoney">
                        <form name="pmForm" id="pmForm"  action="/profile/deposit/pm-deposit" method="post">
                            <div class="input-fields">
                                <div class="input-field">
                                    <div class="label-area">
                                        <label for="eVoucher">e-voucher</label>
                                        <span class="validation-error-msg err-voucher d-none"><%=siteData.translations.wrong%></span>
                                    </div>
                                    <div class="input">
                                        <input type="text" id="eVoucher" name="eVoucher" />
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="label-area">
                                        <label for="activationCode">Activation Code</label>
                                        <span class="validation-error-msg err-voucher-activation-code d-none"><%=siteData.translations.wrong%></span>
                                    </div>
                                    <div class="input">
                                        <input type="text" id="activationCode" name="activationCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="button">
                                <button id="btnperfectMoney" class="btn-yellow"><%=siteData.translations.deposit%></button>
                            </div>
                        </form>
                    </div>
                    <div class="tab visa-mastercard" data-tab="visa-mastercard">
                        <p><%=siteData.translations.coming_soon%></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tab-section withdraw-section" data-section="withdraw">
        <div class="withdraw-area">
            <h1 class="section-title"><%=siteData.translations.cash_out%></h1>
            <form name="withdrawForm" id="withdrawForm" action="/profile/withdraw" method="post">
                <div class="input-fields">
                    <div class="input-field">
                        <div class="label-area">
                            <label for="bankName"><%=siteData.translations.bank_name%></label>
                            <span class="validation-error-msg d-none"><%=siteData.translations.wrong%></span>
                        </div>
                        <div class="input">
                            <input type="text" id="bankName" name="bankName" />
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="label-area">
                            <label for="bankAccountNumber"><%=siteData.translations.bank_account_number%></label>
                            <span class="validation-error-msg d-none"><%=siteData.translations.wrong%></span>
                        </div>
                        <div class="input">
                            <input type="text" id="bankAccountNumber" name="bankAccountNumber" />
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="label-area">
                            <label for="withdrawCardNumber"><%=siteData.translations.card_number%></label>
                            <span class="validation-error-msg d-none"><%=siteData.translations.wrong%></span>
                        </div>
                        <div class="input">
                            <input type="text" id="withdrawCardNumber" name="withdrawCardNumber" />
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="label-area">
                            <label for="withdrawAmount"><%=siteData.translations.amount%></label>
                            <span class="validation-error-msg d-none"><%=siteData.translations.wrong%></span>
                        </div>
                        <div class="input">
                            <input type="text" id="withdrawAmount" name="withdrawAmount" />
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button id="btnWithdraw" class="btn-yellow"><%=siteData.translations.withdraw%></button>
                </div>
            </form>
        </div>
    </section>
    <section class="tab-section transaction-section" data-section="transactions">
        <div class="transactions-area">
            <h1 class="section-title">View all account history</h1>
            <div class="transaction-header">
                <div class="item">
                    <a href="javascript:;">
                        <span>Date / Time</span>
                        <svg width="5" height="5" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z"
                                fill="#C7C7C7" />
                        </svg>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <span>Transaction type</span>
                        <svg width="5" height="5" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z"
                                fill="#C7C7C7" />
                        </svg>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <span>Action Taken</span>
                        <svg width="5" height="5" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z"
                                fill="#C7C7C7" />
                        </svg>
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;">
                        <span><%=siteData.translations.amount%></span>
                        <svg width="5" height="5" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z"
                                fill="#C7C7C7" />
                        </svg>
                    </a>
                </div>
                <div class="item">
                    Filter Results
                </div>
            </div>
            <div class="transactions-list">
                <div class="item">
                    <p>Aug 25, 9:33 AM</p>
                    <p>Win</p>
                    <p>Processing</p>
                    <p>$2</p>
                    <p><a href="javascript:;">View History</a></p>
                </div>
                <div class="item">
                    <p>Aug 25, 9:33 AM</p>
                    <p>Lose</p>
                    <p>Processing</p>
                    <p>$2</p>
                    <p><a href="javascript:;">View History</a></p>
                </div>
                <div class="item">
                    <p>Aug 25, 9:33 AM</p>
                    <p>Deposit</p>
                    <p>Pending Approval</p>
                    <p>$2</p>
                    <p><a href="javascript:;">View History</a></p>
                </div>
                <div class="item">
                    <p>Aug 25, 9:33 AM</p>
                    <p>Withdrawal</p>
                    <p>Processing</p>
                    <p>$2</p>
                    <p><a href="javascript:;">View History</a></p>
                </div>
                <div class="item">
                    <p>Aug 25, 9:33 AM</p>
                    <p>Dispute</p>
                    <p>Pending</p>
                    <p>$2</p>
                    <p><a href="javascript:;">View History</a></p>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>

</body>

</html>
