<%- include("../default/header.ejs") %>
<main class="personal-detail-page">
    <%- include("../default/popUps/verifyEmailFailedPopup.ejs") %>
    <%- include("../default/popUps/verifyEmailSuccessPopup.ejs") %>
    <%- include("../default/popUps/joinerPlayingErrorPopup.ejs") %>
    <%- include("../default/popUps/noMoneyErrorPopup.ejs") %>
    <section class="personal-detail-section">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="profile">
            <div class="info-area">
                <div class="img">
                    <% if(siteData.userInfo.user_image == null){ %>
                        <img src="/images/user-placeholder-men.svg" alt="Profile image">
                    <%}else{%>
                        <img src="/images/profile/profile-img.svg" alt="Profile image">
                    <%}%>
                </div>
                <div class="funds bg-dark">
                    <p class="txt"><%=siteData.translations.total_credits_found%></p>
                    <p class="fund">$<%=siteData.userInfo.userMoney%></p>
                    <div class="buttons-area">
                        <a href="/profile/deposit#deposit" class="btn-yellow add-funds-btn"><%=siteData.translations.add_funds_now%></a>
                        <a href="/profile/deposit#withdraw" class="claim-funds-btn"><%=siteData.translations.claim_funds_now%></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal-detail">
            <form id="personalDetailForm" name="personalDetailForm" method="post" action="/profile/update-bio">
                <h1 class="section-title"><%=siteData.translations.personal_detail%></h1>
                <div class="input-fields">
                    <div class="input-field">
                        <div class="label-area">
                            <label><%=siteData.translations.username%></label>
<!--                            <span class="validation-error-msg">This field is required</span>-->
                        </div>
                        <div class="input">
                            <input type="text" name="displayName" id="displayName" disabled value="<%=siteData.userInfo.username%>"/>
                        </div>
                    </div>
                    <!-- <div class="input-field">
                        <div class="label-area">
                            <label>Country</label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="current"></div>
                        <div id="server" class="list">
                            <div>UK</div>
                            <div>Australia</div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="label-area">
                            <label>State</label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="current"></div>
                        <div id="server" class="list">
                            <div>London</div>
                            <div>New South Wales</div>
                        </div>
                    </div> -->
                    <div class="input-field">
                        <div class="label-area">
                            <label><%=siteData.translations.bio%></label>
<!--                            <span class="validation-error-msg">This field is required</span>-->
                        </div>
                        <div class="input">
                            <textarea name="bio"
                                      id="bio"><%=siteData.userInfo.bio%></textarea>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="label-area">
                            <label>
                                <%=siteData.translations.email_address%>
                                <% if(siteData.userInfo.email_verify == '0'){ %>
                                    <span id="isUnverified" class="validation-error-msg"><%=siteData.translations.unverified%></span>
                                <%}else {%>
                                    <span id="isVerified"><%=siteData.translations.verified%></span>
                                <%}%>

                            </label>
<!--                            <span class="validation-error-msg">This field is required</span>-->
                        </div>
                        <div class="input">
                            <input type="email" name="email" id="email" disabled value="<%=siteData.userInfo.email%>"/>
                            <% if(siteData.userInfo.email_verify == '0'){ %>
                            <button class="btn-yellow" id="btnVerifyEmail"><%=siteData.translations.verify%></button>
                            <%}%>
                        </div>
                    </div>
                    <!-- <div class="input-field">
                        <div class="label-area">
                            <label>City</label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="current"></div>
                        <div id="server" class="list">
                            <div>(Do not display)</div>
                        </div>
                    </div> -->
                </div>
                <div class="button">
                    <button id="btnSave" class="btn-yellow"><%=siteData.translations.save_changes%></button>
                </div>
            </form>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>

<script>
    $('#btnVerifyEmail').click(function () {
        requestPost('/profile/verify-email','',function () {
            if (this.readyState == 4) {
                let result = JSON.parse(this.responseText);
                hideLoad();
            }
        })
    })
</script>
