<%- include("../default/header.ejs") %>
<main class="profile-page">
    <section class="profile-section">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="profile">
            <h1 class="section-title"><%=siteData.translations.my_profile%></h1>
            <div class="info-area">
                <div class="img">
                    <% if(siteData.userInfo.user_image == null){ %>
                            <a href="/profile/detail"><img src="/images/user-placeholder-men.svg" alt="Profile image"></a>
                    <%}else{%>
                            <a href="/profile/detail"><img src="/images/profile/profile-img.svg" alt="Profile image"></a>
                    <%}%>
                </div>
                <div class="info">
                    <a href="/profile/detail" class="bg-dark">
                        <p class="name-area">
                            <span class="name"><%=siteData.userInfo.username%></span>
                            <span class="status"></span>
                        </p>
                        <p class="country"></p>
                        <p class="txt-info">
                            <%=siteData.userInfo.bio%>
                        </p>
                    </a>
                </div>
                <div class="funds bg-dark">
                    <p class="txt"><%=siteData.translations.total_credits_found%></p>
                    <p class="fund">$<%=siteData.userInfo.userMoney%></p>
                    <div class="buttons-area">
                        <a href="/profile/deposit#deposit" class="btn-yellow add-funds-btn"><%=siteData.translations.add_funds_now%></a>
                        <a href="/profile/deposit#withdraw" class="claim-funds-btn"><%=siteData.translations.claim_funds_now%></a>
                    </div>
                </div>
            </div>
            <div class="history-list">
                <div class="item bg-dark">
                    <p class="txt"><%=siteData.translations.your_total_matches%></p>
                    <p class="count"><%=gameResults.total%></p>
                </div>
                <div class="item bg-dark">
                    <p class="txt"><%=siteData.translations.your_won_matches%></p>
                    <p class="count"><%=gameResults.win%></p>
                </div>
                <div class="item bg-dark">
                    <p class="txt"><%=siteData.translations.your_lost_matches%></p>
                    <p class="count"><%=gameResults.lost%></p>
                </div>
            </div>
            <div class="game-handle bg-dark">
                <div class="txt-area">
                    <p><%=siteData.translations.in_game_usernames%></p>
<!--                    <a href="javascritp:;">Update Game Usernames <svg width="6.17" height="6.17" viewBox="0 0 14 14"-->
<!--                                                                      fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                                  d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z">-->
<!--                            </path>-->
<!--                        </svg></a>-->
                </div>
                <div class="games-list">
                    <% siteData.allGames.forEach(function (game) { %>
                        <div class="item" data-game="<%=game.id%>">
                            <div class="outer">
                                <div class="img-area">
                                    <%-game.image%>
                                </div>
                                <div class="name">
                                    <%=game.name%>
                                </div>
                                <% if(typeof game.game_username !== "undefined"){ %>
                                    <div class="input-area">
                                        <p><%=game.game_username%></p>
                                    </div>
                                <% }else {%>
                                    <div class="input-area">
                                        <input type="text" />
                                        <button class="btn-yellow"><%=siteData.translations.save%></button>
                                        <p class="d-none"></p>
                                    </div>
                                <% }%>

                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="as-button">
                <a href="/profile/account-security" class="btn-yellow acc-sec-btn"><%=siteData.translations.account_security%></a>
            </div>
        </div>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>
