<%- include("./default/header.ejs") %>
<%- include("./default/disputePopup.ejs") %>
<main class="match-detail-page history">
    <section class="breadcrumbs-area">
        <div class="btn-back">
            <a href="/history"> <span>
                    < </span> Back</a>
        </div>
        <div class="breadcrumbs">
            My Matches <span> > </span>View Match Details
        </div>
    </section>
    <section class="match-detail">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="cards-list">
            <div class="card">
                <div class="img-area">
                    <img src="/images/browse-match/card-header.svg" alt="">
                    <div class="console-logo">
                        <img src="/images/browse-match/console.svg" alt="">
                    </div>
                    <div class="versus-area">
                        <img src="/images/games/Dota.svg" alt="Dota">
                        <span>1v1</span>
                    </div>
                </div>
                <div class="txt-area">
                    <div class="user">
                        <div class="img-area">
                            <img src="/images/browse-match/user-placeholder.svg" alt="User">
                        </div>
                        <div class="txt-area">
                            <p class="name">Christa1234</p>
                            <p class="status">Challenger</p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="match-id-area">
                            <p class="match-id" id="matchId">Match ID: <span>123456</span></p>
                            <p class="remaining-time">Status: <span>Ongoing</span></p>
                        </div>
                        <div class="row">
                            <div class="txt">
                                <span>Game Mode</span>
                                <p>1v1 Mid Draft</p>
                            </div>
                            <div class="txt">
                                <span>Starts at</span>
                                <p>Aug 27, 5:30 PM</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="txt">
                                <span>Prize</span>
                                <p>$2</p>
                            </div>
                            <div class="txt">
                                <span>Rank Requirements</span>
                                <p>Legend</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="match-rules-area">
                <h3 class="section-title">Match rules</h3>
                <div class="txt">
                    <span>
                        1. Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula
                        maximus, ultricies ultrices enim.
                    </span>
                    <span>
                        2. Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula
                        maximus, ultricies ultrices enim.
                    </span>
                    <span>
                        3. Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula
                        maximus, ultricies ultrices enim.
                    </span>
                </div>
            </div>
            <div class="button-area d-none">
                <div class="txt">
                    <p class="section-title">Logdge result</p>
                    <p class="msg">
                        Either party has not declared a game result <br><br> Declare a result?
                    </p>
                </div>
                <div class="buttons">
                    <a href="javascript:;" id="btnWonGame" class="btn-yellow won-btn">I won the game</a>
                    <a href="javascript:;" id="btnLostGame" class="lost-btn">I lost the game</a>
                </div>
            </div>
            <div class="button-area">
                <div class="txt">
                    <p class="section-title">Logdge result</p>
                    <p class="msg">
                        Your opponent declared that you have “lost” this game. <br><br> Do you agree?
                    </p>
                </div>
                <div class="buttons">
                    <a href="javascript:;" id="btnAggree" class="btn-yellow aggree-btn">yes</a>
                    <a href="javascript:;" id="btnDispute" class="dispute-btn">no, I’ll file a dispute</a>
                </div>
            </div>
            <div class="button-area d-none">
                <div class="txt">
                    <p class="section-title">Match Results</p>
                    <p class="msg">
                        Congratulations! You have won this game beyond doubt.
                    </p>
                </div>
                <div class="button">
                    <a href="/create-match" class="btn-yellow create-btn">create a new match</a>
                </div>
            </div>
        </div>

    </section>
</main>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>