<%- include("./default/header.ejs") %>
<main class="home-main">
  <section class="home-section">
    <div class="txt-area">


<!--      <style>-->
<!--        /* Container */-->
<!--        .container{-->
<!--          margin: 0 auto;-->
<!--          border: 0px solid black;-->
<!--          width: 50%;-->
<!--          height: 250px;-->
<!--          border-radius: 3px;-->
<!--          background-color: ghostwhite;-->
<!--          text-align: center;-->
<!--        }-->
<!--        /* Preview */-->
<!--        .preview{-->
<!--          width: 100px;-->
<!--          height: 100px;-->
<!--          border: 1px solid black;-->
<!--          margin: 0 auto;-->
<!--          background: white;-->
<!--        }-->

<!--        .preview img{-->
<!--          display: none;-->
<!--        }-->
<!--        /* Button */-->
<!--        .button{-->
<!--          border: 0px;-->
<!--          background-color: deepskyblue;-->
<!--          color: white;-->
<!--          padding: 5px 15px;-->
<!--          margin-left: 10px;-->
<!--        }-->
<!--      </style>-->
      <h1><%=siteData.translations.land_text_1%></h1>
      <p><%-siteData.translations.land_text_2%></p>
<!--      <h1>-->
<!--        get a chance to win prizes while playing your favorite game?-->
<!--      </h1>-->
<!--      <p><span>proschall</span> is the best online system that connects you with other gamers and enables you to create,-->
<!--        accept, bet on challenges for money and prizes.</p>-->
      <% if(typeof siteData.userInfo === "undefined"){ %>
      <a href="javascript:;" class="sign-btn btn-yellow" data-tab="signup"><%-siteData.translations.sign_up_now%></a>
      <% } %>
    </div>
    <div class="img-area">
      <img src="../images/home/section1_intro.svg" />
    </div>
  </section>
  <section class="who-we-are-section">
    <div class="layer"></div>
    <div class="who-we-are">
      <h2 class="title">
        <img src="../images/title-circles.svg" alt="" />
        <%-siteData.translations.prizchall_explained%>
      </h2>
      <div class="short-desc">
        <%-siteData.translations.explaind_title%>
      </div>
      <div class="who-we-are-area">
        <div class="img-area">
          <img src="../images/home/section2_joistic.svg" alt="joistic">
        </div>
        <div class="txt-area">
          <p class="description">
            <%-siteData.translations.explain_steps%>
            <br/>
            <%-siteData.translations.priz_ex_1%>
            <br/>
            <%-siteData.translations.priz_ex_2%>
            <br/>
            <%-siteData.translations.priz_ex_3%>
            <br/>
            <%-siteData.translations.priz_ex_4%>
            <br/>
            <%-siteData.translations.priz_ex_5%>
          </p>
          <p class="description">
            <%-siteData.translations.ex_foot_1%>
            <br/>
            <%-siteData.translations.ex_foot_2%>
          </p>
          <div class="buttons-area">
            <div>
              <% if(typeof siteData.userInfo === "undefined"){ %>
              <a href="javascript:;" class="sign-btn btn-yellow" data-tab="signup"><%-siteData.translations.sign_up_now%></a>
              <% } %>
            </div>
<!--            <div>-->
<!--              <a href="javascript:;" class="learn-btn">Learn More</a>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="what-we-do-section">
    <h2 class="title">
      <img src="../images/title-circles.svg" alt="" />
      What we do
    </h2>
    <div class="short-desc">
      we make sure that you have the most joyful experience during your games. so you don’t have to be worry about the security, fair plays or any related issue during your competitions.
    </div>
    <div class="what-we-do-area">
      <div class="list">
        <div class="item">
          <div class="img-area">
            <img src="../images/home/join-icon.svg" alt="">
          </div>
          <div class="txt-area">
            <h3>join</h3>
            <p>Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus,
              ultricies ultrices enim.</p>
<!--            <a href="javascript:;">learn more <img src="../images/arrow.svg" alt=""></a>-->
          </div>
        </div>
        <div class="item">
          <div class="img-area">
            <img src="../images/home/play-icon.svg" alt="">
          </div>
          <div class="txt-area">
            <h3>play</h3>
            <p>Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus,
              ultricies ultrices enim.</p>
<!--            <a href="javascript:;">learn more <img src="../images/arrow.svg" alt=""></a>-->
          </div>
        </div>
        <div class="item">
          <div class="img-area">
            <img src="../images/home/win-icon.svg" alt="">
          </div>
          <div class="txt-area">
            <h3>win</h3>
            <p>Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus,
              ultricies ultrices enim.</p>
<!--            <a href="javascript:;">learn more <img src="../images/arrow.svg" alt=""></a>-->
          </div>
        </div>
      </div>
      <div class="buttons-area">
        <% if(typeof siteData.userInfo === "undefined"){ %>
        <a href="javascript:;" class="sign-btn btn-yellow" data-tab="signup"><%-siteData.translations.sign_up_now%></a>
        <% } %>
      </div>
    </div>
  </section>
  <%- include("./default/components/faq/faq.ejs") %>
  <%- include("./default/components/about/about.ejs") %>
</main>
<%- include("./default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>

<% if(typeof siteData.showMsg !== "undefined" && siteData.showMsg.show){ %>
  <%- include("./default/components/chat/chat.ejs") %>
<%}%>
</body>

</html>
