<%- include("./default/header.ejs") %>
<main class="personal-detail-page">
    <%- include("./default/verifyEmailFailedPopup.ejs") %>
    <%- include("./default/verifyEmailSuccessPopup.ejs") %>
    <section class="personal-detail-section">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="profile">
            <div class="info-area">
                <div class="img">
                    <img src="/images/profile/profile-img.svg" alt="Profile image">
                </div>
                <div class="funds bg-dark">
                    <p class="txt">Total Credit Funds</p>
                    <p class="fund">$7.15</p>
                    <div class="buttons-area">
                        <a href="/deposit#deposit" class="btn-yellow add-funds-btn">add funds now</a>
                        <a href="/deposit#withdraw" class="claim-funds-btn">Claim funds now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal-detail">
            <form id="personalDetailForm" name="personalDetailForm">
                <h1 class="section-title">Personal Details</h1>
                <div class="input-fields">
                    <div class="input-field">
                        <div class="label-area">
                            <label>User Name</label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="input">
                            <input type="text" name="displayName" id="displayName" disabled />
                        </div>
                    </div>
                    <!-- <div class="input-field">
                        <div class="label-area">
                            <label>Country</label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="current"></div>
                        <div id="server" class="list">
                            <div>UK</div>
                            <div>Australia</div>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="label-area">
                            <label>State</label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="current"></div>
                        <div id="server" class="list">
                            <div>London</div>
                            <div>New South Wales</div>
                        </div>
                    </div> -->
                    <div class="input-field">
                        <div class="label-area">
                            <label>Bio</label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="input">
                            <textarea name="Bio"
                                id="bio">Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus, ultricies ultrices enim.</textarea>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="label-area">
                            <label>Email Address <span id="isVerified">verified</span><span id="isUnverified"
                                    class="d-none">unverified</span></label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="input">
                            <input type="email" name="email" id="email" disabled />
                            <button class="btn-yellow" id="btnVerifyEmail">Verify</button>
                        </div>
                    </div>
                    <!-- <div class="input-field">
                        <div class="label-area">
                            <label>City</label>
                            <span class="validation-error-msg">This field is required</span>
                        </div>
                        <div class="current"></div>
                        <div id="server" class="list">
                            <div>(Do not display)</div>
                        </div>
                    </div> -->
                </div>
                <div class="button">
                    <button id="btnSave" class="btn-yellow">save changes</button>
                </div>
            </form>
        </div>
    </section>
</main>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>