.chat-box{
    position: fixed;
    right: 20px;
    bottom: 0px;
    background: white;
    width: 300px;
    border-radius: 5px 5px 0px 0px;
    z-index: 10000;
}
.chat-head{
    width: inherit;
    /*height: 45px;*/
    background: #30372f;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}
.chat-head h4{
    color: white;
    padding: 8px;
    display: inline-block;
}
.chat-head img{
    cursor: pointer;
    float: right;
    width: 16px;
    margin: 8px;
}
.chat-body{
    height: 355px;
    width: inherit;
    overflow: auto;
    margin-bottom: 45px;
}
.chat-text{
    position: fixed;
    bottom: 0px;
    height: 45px;
    width: inherit;
}
.chat-text textarea{
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    padding: 10px 40px 10px 10px;
    resize: none;
    color: #161616;
}
.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover{
    border-color: royalblue;
}
.msg-send{
    background: #2ecc71;
}
.msg-receive{
    background: #3498db;
}
.msg-send, .msg-receive{
    width: 240px;
    padding: 3px 2px 3px 6px;
    margin: 3px auto;
    border-radius: 3px;
    line-height: 18px;
    position: relative;
    color: white;
    font-size: 14px;
}
.chat-new-count{
    color: #ffffff;
    background: #f75a00;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    top: -10px;
    left: -10px;
    font-size: 13px;
}
.msg-receive:before{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 10px solid;
    border-color: transparent #3498db transparent transparent;
    left: -19px;
    top: 2px;
}
.msg-send:after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent transparent #2ecc71;
    right: -19px;
    top: 2px;
}
.send-img{
    width: 37px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 6px;
    z-index: 88;
    cursor: pointer;
    background: #ffffff;
    user-select: none;
}
.send-img > img{
    width: 100%;
}
.msg-receive:hover, .msg-send:hover{
    opacity: .9;
}
