/* #region Global */

@font-face {
  font-family: "Overlock-Black";
  src: url("./fonts/Overlock-Black.woff2") format("woff2"),
         url("./fonts/Overlock-Black.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-BlackItalic";
  src: url("./fonts/Overlock-BlackItalic.woff2") format("woff2"),
         url("./fonts/Overlock-BlackItalic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Bold";
  src: url("./fonts/Overlock-Bold.woff2") format("woff2"),
         url("./fonts/Overlock-Bold.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-BoldItalic";
  src: url("./fonts/Overlock-BoldItalic.woff2") format("woff2"),
         url("./fonts/Overlock-BoldItalic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Italic";
  src: url("./fonts/Overlock-Italic.woff2") format("woff2"),
         url("./fonts/Overlock-Italic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Regular";
  src: url("./fonts/Overlock-Regular.woff2") format("woff2"),
         url("./fonts/Overlock-Regular.woff") format("woff");
 }
    .terms_item {
        width: 100%;
        max-width: 1024px;
        margin: 20px auto;
        padding: 0px 20px;
        text-align: justify;
        line-height: 23px;
    }
.term_title{
    text-align: center;
    font-size: 23px;
    margin: 30px auto;
}
 .loader-area{
  position: relative;
  width: 26px;
  height: 26px;
  margin: 5px 0 5px 20px;
 }
 .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

.spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Overlock-Regular";
  color: #FAFAFA;
}
*::-webkit-scrollbar {
  width: .5em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(48, 55, 47, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #30372F;
  outline: 1px solid slategrey;
}
body{
  background: #272727;
  padding-left: 62px;
}
a {
  color: #FAFAFA;
  text-decoration: none;
}

a:hover{
  color: inherit;
  text-decoration: none;
}
li{
  list-style: none;
}
.g_error_field{
  font-size: 14px;
  color: red;
  display: flex;
  justify-content: flex-end;
}

.btn-yellow{
  display: inline-block;
  font-weight: 900;
  color: #272727;
  background: #FFB608;
  border-radius: 5px;
  border: 1px solid #FFB608;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.btn-yellow:hover{
  background: transparent;
  color: #FFB608;
}
.bg-dark{
  background: #272727;
  mix-blend-mode: normal;
  border-radius: 4px;
}
input{
  background: #455843;
  border-radius: 5px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #C7C7C7;
  border: 0;
  width: 100%;
  outline: none;
}
input[disabled]{
  cursor: no-drop;
}
input::-webkit-input-placeholder{
  color: #C7C7C7;
}
input::-moz-placeholder{
  color: #C7C7C7;
}
input:-ms-input-placeholder{
  color: #C7C7C7;
}
input::-ms-input-placeholder{
  color: #C7C7C7;
}
input::placeholder{
  color: #C7C7C7;
}
main {
  padding-top: 56.8px;
}
.title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Overlock-Bold";
  font-size: 40px;
  line-height: 18px;
  text-transform: lowercase;
  color: #FAFAFA;
}
.title img{
  padding-right: 7.6px;
}
.short-desc{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FAFAFA;
  max-width: 417px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.sign-btn{
  font-size: 18px;
  line-height: 22px;
  text-transform: lowercase;
  padding: 11.1px 53.78px 11.73px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}
.learn-btn{
  display: inline-block;
  background: transparent;
  border: 1px solid #FFB608;
  border-radius: 5px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-transform: lowercase;
  color: #FFB608;
  padding: 11.1px 59px 11.73px;
}
.learn-btn:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border: 1px solid #FAFAFA;
  color: #FAFAFA;
}
.d-none{
  display: none!important;
}
.breadcrumbs-area {
  background: #30372F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 16px 18px;
  color: #C7C7C7;
  font-size: 14px;
}
.breadcrumbs-area a{
  display: flex;
  align-items: center;
}
.breadcrumbs-area a{
  transition: .3s;
}
.breadcrumbs-area a:hover{
  color: #FFB608;
}
.breadcrumbs-area a span{
  transition: .3s;
  font-weight: 900;
}
.breadcrumbs-area a:hover span{
  color: #FFB608;
}
.breadcrumbs-area .breadcrumbs{
  display: flex;
  align-items: center;
}
.breadcrumbs-area span{
  padding: 0 6px;
}
.validation-error-msg, .no-money-error, .min-prize-error, .min-error-msg{
  font-size: 8px;
  line-height: 10px;
  color: #F71900;
}

/* #endregion */

/* #region popup */
.popup-outer {
  position: fixed;
  background: rgba(69, 88, 67, .9);
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.popup-content{
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('../images/modal/combined-circle.png'),url('../images/modal/combined-shape.png');
  background-repeat: no-repeat;
  background-position: 100% 100%,0 0;
  background-color: #000;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  height: auto;
  border-radius: 4px;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  overflow: hidden;
}
.popup-outer.active .popup-content{
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.popup-outer .tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
.popup-outer .tab-header .tab-link {
  display: inline-block;
  padding: 10px 60px;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.popup-outer .tab-header .tab-link:hover,
.popup-outer .tab-header .tab-link.active{
    background: #455843;
    color: #FFB608;
}
.popup-outer .tab-item{
  text-align: center;
  display: none;
  max-height: calc(90vh - 100px);
  overflow-y: auto;
}
.popup-outer .tab-item.active{
  display: block;
}
.popup-outer .btn-close{
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: .7;
}
.popup-outer .btn-close:hover{
  opacity: 1;
}
.popup-outer .name{
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FAFAFA;
  padding: 15px 0;
}
.popup-outer .txt{
  padding: 15px 0;
}
.popup-outer .terms-conditions-area *{
  cursor: pointer;
}
.popup-outer .input-fields{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup-outer .input-field{
  width: 75%;
}
.popup-outer input{
  padding: 15px;
  margin-top: 10px;
}
.popup-outer .input-fields .terms-conditions-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-outer .input-fields .terms-conditions-area input[type='checkbox']{
  width: 30px;
  margin: 0;
}
.popup-outer .input-fields .terms-conditions-area label{
  white-space: nowrap;
}
.popup-outer .tab-item .buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup-outer button{
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  text-transform: lowercase;
  padding: 10px 60px;
  margin: 25px 0 15px;
  -webkit-transition: background .3s, color .3s;
  -o-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}
.popup-outer button:hover{
  background: #455843;
}
.popup-outer .resetPass:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
}
/* #endregion */

/* #region Card item */
.cards-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 52px 38px;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
.cards-list .card{
  position: relative;
  width: 50%;
  padding: 0 12px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.cards-list .card .img-area{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards-list .card .img-area img{
  width: 100%;
}
.cards-list .card .img-area .console-logo{
  position: absolute;
  top: 11px;
  left: 9px;
}
.cards-list .card .img-area .versus-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
}
.cards-list .card .img-area .versus-area svg{
  fill: #C7C7C7;
}
.cards-list .card .img-area .versus-area img{
  width: 23px;
}
.cards-list .card .img-area .versus-area span{
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #C7C7C7;
  padding-left: 6px;
}
.cards-list .card .txt-area{
  padding: 18px 35px 25px 25px;
  background: #30372F;
  mix-blend-mode: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards-list .card .txt-area .user{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
}
.cards-list .card .txt-area .user .txt-area{
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cards-list .card .txt-area .user .img-area{
  border-radius: 50%;
  width: 82px;
  height: 82px;
  overflow: hidden;
  border: 2px solid #686868;
}
.cards-list .card .txt-area .user .img-area img{
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-list .card .txt-area .user .name{
  font-size: 16px;
  line-height: 20px;
  color: #FFB608;
  padding-top: 9px;
}
.cards-list .card .txt-area .user .name span,
.cards-list .card .txt-area .user .status span{
  font-size: 10px;
  white-space: nowrap;
  margin-right: 10px;
}
.cards-list .card .txt-area .user .status{
  font-size: 10px;
  line-height: 12px;
  color: #C7C7C7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cards-list .card .txt-area .info .row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cards-list .card .txt-area .info .txt{
  padding-bottom: 13px;
}
.cards-list .card .txt-area .info .row .txt:nth-child(1){
  width: 120px;
}
.cards-list .card .txt-area .info .txt span{
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  color: #C7C7C7;
}
.cards-list .card .txt-area .info .txt p{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
}
.cards-list .card .txt-area .button-area{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 17px;
}
.cards-list .card .txt-area .card-btn{
  font-size: 14px;
  line-height: 17px;
  padding: 7px 38.73px 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
/* #endregion */

/* #region Filter */
.filter-arae{
  position: relative;
  z-index: 9;
}
.filter-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter-item{
  position: relative;
  width: 20%;
}
.filter-item .label{
  width: 100%;
  background: #30372F;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}
.filter-item .label:hover,
.filter-item .label.active{
  background: #313F30;
}
.filter-item .label a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.filter-item .label:hover a,
.filter-item .label.active a{
  color: #FFB608;
}
.filter-item .label a span{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter-item .label a svg{
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.filter-item .label:hover a svg,
.filter-item .label.active a svg{
  fill: #FFB608;
}
.filter-item ul{
  position: absolute;
  left: 0;
  right: 0;
  top: 46.8px;
  display: none;
}
.filter-item li a{
  display: block;
  background: #30372F;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  -webkit-transition: background .3s color .3s;
  -o-transition: background .3s color .3s;
  transition: background .3s color .3s;
}
.filter-item li a:hover{
  background: #313F30;
  color: #FFB608;
}
/* #endregion */

/* #region custom datepicker */
.datepicker,
.datepicker--pointer{
  background: #30372F;
  border: 0;
}
.datepicker--cell:hover, .datepicker--nav-title:hover{
  background: #455843;
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-, .datepicker--cell.-focus-:hover{
  background: #455843;
  color: #FFB608;
}
.datepicker--cell.-current-, .datepicker--day-name{
  color: #FFB608;
}
.datepicker--time-current-hours:after, .datepicker--time-current-minutes:after{
  background: #455843;
}
/* #endregion */

/* #region header */
header{
  position: fixed;
  left: 62px;
  right: 0;
  top: 0;
  z-index: 999;
  padding-right: 40px;
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56.8px;
  -webkit-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
}
header.active{
  left: 23.6%;
}
#load_G{
    position: fixed;
    z-index: 99999;
    background: #000000c9;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
#load_G > svg{

}
#notification_reminder{
    position: fixed;
    z-index: 99998;
    background: #FFB608;
    right: -1000px;
    bottom: 0;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
    height: 45px;
    padding: 0px 30px;
    font-size: 18px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.3s;
}
.notify_active{
    right:0px !important;
    transition: 0.3s;
}
.left-navigation{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: #30372F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 62px;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}
header .layer{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #313F30;
  opacity: 0.95;
  z-index: 9;
}
.left-navigation .navigation a{
  display: inline-block;
  margin: 12px 0 13px 14px;
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  color: #C7C7C7;
  mix-blend-mode: normal;
}
.left-navigation .navigation a:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
}
.left-navigation.open{
  width: 23.6%;
  overflow-y: auto;
}
.left-navigation .logo-area.mobile{
  display: none;
}
.left-navigation .logo-area{
  display: block;
}
.left-navigation .logo-area a{
  display: inline-block;
  padding: 12px 14px;
}
.left-navigation .games-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left-navigation .games-list .item {
    height: 57px;
}
.left-navigation .games-list .item .name{
  display: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
}
.left-navigation .games-list .item .logo{
  width: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.left-navigation .games-list .item a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19.8px 0;
  width: 100%;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}
.left-navigation .games-list .item a:hover,
.left-navigation .games-list .item.active a{
  background: #313F30;
}
.left-navigation .games-list .item svg{
  fill: #686868;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
    height: 30px;
}
.left-navigation .games-list .item.active svg{
  fill: #FFB608;
}
.left-navigation .games-list .item a:hover .name,
.left-navigation .games-list .item.active .name{
  color: #FFB608;
}
.left-navigation .bottom-logo{
  padding-bottom: 29px;
  padding-left: 14px;
}
.left-navigation.open .bottom-logo{
  display: none;
}
.left-navigation .bottom-info {
  padding: 12px;
}
.left-navigation .bottom-info .create-btn{
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  padding: 6.6px 0;
  width: 100%;
  text-align: center;
}
.left-navigation .bottom-info .txt *{
  font-size: 12px;
  line-height: 19px;
  color: #C7C7C7;
}
.left-navigation .bottom-info .txt{
  text-align: center;
}
.left-navigation .bottom-info .txt p{
  padding: 15px 0 3px;
}
.left-navigation .bottom-info .txt span{
  font-weight: 900;
}
header .menu-btn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 18px;
  height: 13.85px;
  margin-left: 18px;
    margin-right: 18px;
  cursor: pointer;
  z-index: 9999;
}
header .menu-btn a{
  position: relative;
  width: 100%;
  height: 2px;
  background: #C7C7C7;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;

}
header .menu-btn a::before,
header .menu-btn a::after{
  position: absolute;
  content: "";
  height: 2px;
  background: #C7C7C7;
}
header .menu-btn a::before{
  width: 12px;
  top: 4px;
}
header .menu-btn a::after{
  width: 6px;
  top: 8px;
}
header .menu-btn.active a{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .menu-btn.active a::before{
  width: 100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
}
header .menu-btn.active a::after{
  width: 0;
}
header .buttons-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .buttons-area a{
  color: #C7C7C7;
}
header .buttons-area .login-btn a{
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
}
header .buttons-area .login-btn a:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
}
header .buttons-area .reg-btn a{
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  padding: 6px 14px 9px 16px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
  margin: 14px 18px 9px 18px;
}
header .buttons-area .reg-btn a:hover{
  border: 1px solid #FFB608;
  background: #FFB608;
  color: #272727;
}
header .buttons-area .create-match-area {
  padding: 0 15px;
}
header .buttons-area .create-btn{
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #272727;
  padding: 6.6px 20.6px;
}
header .buttons-area .create-btn:hover{
  color: #FFB608;
}
header .buttons-area .user-info-area{
  position: relative;
  padding-left: 15px;
}
header .buttons-area .user-info-area .username-btn{
  display: inline-block;
  line-height: 15px;
  color: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .user-info-area .username-btn:hover,
header .buttons-area .user-info-area .username-btn.active{
  color: #FFB608;
}
header .user-info {
  position: absolute;
  top: 37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 300px;
  background: #30372F;
  padding: 10px 0;
  display: none;
}
header .buttons-area .triangle {
  position: absolute;
  background: #30372F;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 25px;
  right: 30%;
  display: none;
}
header .user-info .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .user-info .nav-item:hover{
  background: #313F30;
}
header .user-info .nav-item:hover svg{
  fill: #FFB608;
}
header .user-info .nav-item:hover .nav-left .txt-area{
  color: #FFB608;
}
header .user-info .nav-item .user,
header .user-info .nav-item .nav-left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .user-info .nav-item .user .img-area{
  width: 62px;
  height: 62px;
  border: 1px solid #FAFAFA;
  border-radius: 50%;
  overflow: hidden;
}
header .user-info .nav-item .user .img-area img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .user-info .nav-item .user .txt-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
}
header .user-info .nav-item .user .welcome-txt{
  font-weight: bold;
  line-height: 20px;
  color: #FAFAFA;
  padding-bottom: 4px;
}
header .user-info .nav-item .user .amount-txt{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}
header .user-info .nav-item .user .amount-txt .amount{
  color: #FFB608;
  font-size: 16px;
}
header .user-info .nav-left .txt-area{
  font-weight: 900;
  line-height: 20px;
  color: #C7C7C7;
  padding-left: 18px;
  padding-right: 18px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area{
  position: relative;
}
header .buttons-area .notification-area .notification-count{
  position: absolute;
  top: -5px;
  right: -7px;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  background: #F75A00;
  color: #FAFAFA;
  padding: 2px 5.33px;
  border-radius: 50%;
}
header .buttons-area .notification-area svg{
  fill: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area .notification-btn:hover svg,
header .buttons-area .notification-area .notification-btn.active svg{
  fill: #FFB608;
}
header .user-info .item svg{
  fill: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area .notifications {
  position: absolute;
  top: 40px;
  background: #30372F;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  display: none;
}
header .buttons-area .notification-area .n-list{
  max-height: calc(100vh - 56.8px);
  overflow-y: auto;
}
header .buttons-area .notification-area .n-list .item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 1.5px solid #3B3B3B;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area .n-list .item:hover,
header .buttons-area .notification-area .n-list .item.active{
  background: #313F30;
}
header .buttons-area .notification-area .n-list .txt-area{
  width: 91%;
}
header .buttons-area .notification-area .n-list .txt-area p{
  font-size: 14px;
  line-height: 17px;
  color: #FAFAFA;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
header .buttons-area .notification-area .n-list .txt-area .user a{
  color: #FFB608;
}
header .buttons-area .notification-area .n-list .txt-area .time{
  font-size: 10px;
  line-height: 12px;
  color: #686868;
  font-family: "Overlock-Italic";
}
header .buttons-area .notification-area .status{
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
#timer{
    color : #00D902;
}
header .buttons-area .notification-area .status.unread{
  background-color: #00D902;
}
header .buttons-area .notification-area .triangle{
    top: 33px;
    right: -30%;
}
.tournament_icon{
    width: 20px;
}
.errorFiled{
    color: red;
    font-size: 12px;
    /*display: none;*/
}
header .buttons-area .notification-area .n-list .item .notification {
  position: absolute;
  top: 0;
  /*left: 100%;*/
  width: 400px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          background: #30372F;
          cursor: initial;
          display: none;
}
header .buttons-area .notification-area .header-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .buttons-area .notification-area .header-txt .from-txt,
header .buttons-area .notification-area .n-content p {
  font-size: 14px;
  line-height: 17px;
  color: #FAFAFA;
}
header .buttons-area .notification-area .n-content {
  padding: 20px 0 30px;
}
header .buttons-area .notification-area .n-content .user a{
  color: #FFB608;
}
header .buttons-area .notification-area .n-content .time{
  font-size: 10px;
  line-height: 12px;
  color: #686868;
  font-family: "Overlock-Italic";
  padding-top: 6px;
}
header .buttons-area .notification-area .header-txt .date{
  font-size: 10px;
  line-height: 12px;
  color: #C7C7C7;
}
header .buttons-area .notification-area .buttons-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .buttons-area .notification-area .buttons-area .notify-btn{
  color: #272727;
  font-size: 14px;
  line-height: 17px;
  padding: 6.6px 84px;
  margin-bottom: 30px;
}
header .buttons-area .notification-area .buttons-area .notify-btn:hover{
  color: #FFB608;
}
header .buttons-area .notification-area .buttons-area .cancel-btn{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area .buttons-area .cancel-btn:hover{
  color: #FFB608;
}
.lng-area.mobile{
  display: none;
}
header .lng-area {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  background: #272727;
  padding: 8px;
}
header .lng-area .other{
  display: none;
}
/* #endregion */

/* #region home */
.home-section{
  height: 100vh;
  background: -o-linear-gradient(bottom, rgba(69, 88, 67, 0.66), rgba(69, 88, 67, 0.66)), url('/images/home/section1.svg');
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(69, 88, 67, 0.66)), to(rgba(69, 88, 67, 0.66))), url('/images/home/section1.svg');
  background: linear-gradient(0deg, rgba(69, 88, 67, 0.66), rgba(69, 88, 67, 0.66)), url('/images/home/section1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply, normal;
  mix-blend-mode: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-section .txt-area, .home-section .img-area{
  width: 50%;
}
.home-section .txt-area{
  padding: 0 15% 0 61px;
}
.home-section .txt-area h1{
  font-weight: 900;
  font-size: 40px;
  line-height: 43px;
  text-transform: lowercase;
  color: #FAFAFA;
  margin-bottom: 22px;
}
.home-section .txt-area p{
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;
  margin-bottom: 33px;
}
.home-section .txt-area p span{
  font-weight: 900;
}
.home-section .img-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 55px 0 7.4%;
}
.home-section .img-area img{
  width: 100%;
}
.who-we-are-section{
  position: relative;
  background: -o-linear-gradient(bottom, #455843, #455843), -o-linear-gradient(bottom, rgba(39, 39, 39, 0.6), rgba(39, 39, 39, 0.6)), url('/images/home/section_who_we_are.svg');
  background: -webkit-gradient(linear, left bottom, left top, from(#455843), to(#455843)), -webkit-gradient(linear, left bottom, left top, from(rgba(39, 39, 39, 0.6)), to(rgba(39, 39, 39, 0.6))), url('/images/home/section_who_we_are.svg');
  background: linear-gradient(0deg, #455843, #455843), linear-gradient(0deg, rgba(39, 39, 39, 0.6), rgba(39, 39, 39, 0.6)), url('/images/home/section_who_we_are.svg');
  background-blend-mode: color, normal, normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.who-we-are-section .layer{
  position: absolute;
  background: -o-linear-gradient(right, rgba(39, 39, 39, 0) 0%, #272727 47.06%, #272727 100%);
  background: -webkit-gradient(linear, right top, left top, from(rgba(39, 39, 39, 0)), color-stop(47.06%, #272727), to(#272727));
  background: linear-gradient(to left, rgba(39, 39, 39, 0) 0%, #272727 47.06%, #272727 100%);
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.who-we-are-section .who-we-are{
  position: relative;
  z-index: 1;
}
.who-we-are-section .title{
  padding-top: 63px;
  padding-bottom: 43px;
}
.who-we-are-section .who-we-are-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65.5px 0 151.5px;
}
.who-we-are-section .who-we-are-area .img-area,
.who-we-are-section .who-we-are-area .txt-area {
  width: 50%;
}
.who-we-are-section .who-we-are-area .img-area{
  padding-left: 15%;
}
.who-we-are-section .who-we-are-area .txt-area {
  padding-right: 10%;
}
.who-we-are-section .who-we-are-area .txt-area .description{
  max-width: 430px;
  width: 100%;
    padding: 0 10px 0 10px;
    margin-bottom: 12px;
}
.who-we-are-section .who-we-are-area .txt-area .buttons-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 21px;
  padding-left: 20px;
}
.who-we-are-section .who-we-are-area .txt-area .buttons-area .sign-btn{
  margin-bottom: 16px;
}
.what-we-do-section .title{
  padding: 73px 0 32px;
}
.what-we-do-area .list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 64px 52px;
}
.what-we-do-area .list .item{
  max-width: calc(33.33% - 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #30372F;
  border-radius: 3px;
  padding: 38px 27px 34px;
  text-align: center;
}
.what-we-do-area .list .item h3{
  font-weight: 900;
  font-size: 30px;
  line-height: 49px;
  text-transform: lowercase;
  color: #FFB608;
  padding-top: 13.67px;
  padding-bottom: 4px;
}
.what-we-do-area .list .item p{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  padding-bottom: 19px;
}
.what-we-do-area .list .item a{
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-transform: lowercase;
  color: #FFB608;
}
.what-we-do-area .list .item a img{
  padding-left: 2.55px;
}
.what-we-do-area .buttons-area{
  text-align: center;
  margin: 0 auto;
  width: calc(33.33% - 66px);
  padding-bottom: 115px;
}
.what-we-do-area .buttons-area .sign-btn{
  display: block;
}
.questions-section{
  position: relative;
  background: -o-linear-gradient(bottom, #455843, #455843), url('/images/home/section-questions.svg');
  background: -webkit-gradient(linear, left bottom, left top, from(#455843), to(#455843)), url('/images/home/section-questions.svg');
  background: linear-gradient(0deg, #455843, #455843), url('/images/home/section-questions.svg');
  background-blend-mode: color, normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.questions-section .title{
  padding-top: 91px;
  padding-bottom: 35px;
}
.questions-section .short-desc{
  padding-bottom: 67px;
}
.questions-section .questions-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 18% 77px;
}
.questions-section .questions-list .item{
  background: #455843;
  mix-blend-mode: normal;
  border-radius: 5px;
  margin-bottom: 9px;
  padding: 0 22px 0 31px;
}
.questions-section .questions-list .item .question{
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  text-transform: lowercase;
  color: #FAFAFA;
}
.questions-section .questions-list .item.active .question{
  color: #FFB608;
}
.questions-section .questions-list .item .tab-header a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}
.questions-section .questions-list .item .tab-header .plus-btn{
  position: relative;
  background: #FFB608;
  width: 15px;
  height: 5.77px;
  border-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.questions-section .questions-list .item .tab-header .plus-btn::before{
  position: absolute;
  content: "";
  width: 15px;
  height: 5.77px;
  background: #FFB608;
  -webkit-transform: rotate(90deg) translateY(0.5px);
      -ms-transform: rotate(90deg) translateY(0.5px);
          transform: rotate(90deg) translateY(0.5px);
  border-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.questions-section .questions-list .item.active .tab-header .plus-btn{
  background: #F75A00;
}
.questions-section .questions-list .item.active .tab-header .plus-btn::before{
  background: #F75A00;
  -webkit-transform: rotate(0deg) translateY(0);
      -ms-transform: rotate(0deg) translateY(0);
          transform: rotate(0deg) translateY(0);
}
.questions-section .questions-list .item .tab-content{
  display: none;
}
.questions-section .questions-list .item .tab-content p{
  font-size: 14px;
  line-height: 17px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding-top: 3px;
  padding-bottom: 41px;
}
.questions-section .questions-area{
  position: relative;
  z-index: 1;
}
.questions-section .layer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: -o-linear-gradient(top, rgba(39, 39, 39, 0) -16%, #272727 88.51%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-16%, rgba(39, 39, 39, 0)), color-stop(88.51%, #272727));
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0) -16%, #272727 88.51%);
}
.about-section{
  position: relative;
  background: -o-linear-gradient(bottom, #FFB608, #FFB608), -o-linear-gradient(bottom, rgba(39, 39, 39, 0.6), rgba(39, 39, 39, 0.6)), url('/images/home/section-about.svg');
  background: -webkit-gradient(linear, left bottom, left top, from(#FFB608), to(#FFB608)), -webkit-gradient(linear, left bottom, left top, from(rgba(39, 39, 39, 0.6)), to(rgba(39, 39, 39, 0.6))), url('/images/home/section-about.svg');
  background: linear-gradient(0deg, #FFB608, #FFB608), linear-gradient(0deg, rgba(39, 39, 39, 0.6), rgba(39, 39, 39, 0.6)), url('/images/home/section-about.svg');
  background-blend-mode: color, normal, normal;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-section .title{
  padding-top: 200px;
  padding-bottom: 35px;
}
.about-section .short-desc{
  padding-bottom: 24px;
}
.about-section .about-txt{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #FAFAFA;
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 165px 20px;
}
.about-section .about-area{
  position: relative;
  z-index: 1;
}
.about-section .layer{
  position: absolute;
  left: 0;
  right: 0;
}
.about-section .layer.top{
  top: 0;
  background: -o-linear-gradient(bottom, rgba(39, 39, 39, 0) 0%, #272727 88.51%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(39, 39, 39, 0)), color-stop(88.51%, #272727));
  background: linear-gradient(to top, rgba(39, 39, 39, 0) 0%, #272727 88.51%);
  bottom: 50%;
}
.about-section .layer.bottom{
  bottom: 0;
  background: -o-linear-gradient(top, rgba(39, 39, 39, 0) 0%, #272727 88.51%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0)), color-stop(88.51%, #272727));
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0) 0%, #272727 88.51%);
  top: 65%;
}

/* #endregion */

/* #region browse match */
.gamer-dashboard-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 100vh;
  z-index: -1;
}
.gamer-dashboard-bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}
.gamer-dashboard-bg .layer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 75%;
  background: rgb(39,39,39);
  background: linear-gradient(180deg, rgba(39,39,39,0) 0%, rgba(39,39,39,1) 100%);
}
.browse-match-page {
  position: relative;
}
.browse-match-section{
  padding-bottom: 102px;
}
.browse-match-section .header-img img{
  width: 100%;
}
.browse-match-section .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding: 21px 62px;
}

.browse-match-section .cards-list-area>.button-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.browse-match-section .cards-list-area .more-btn{
  font-size: 18px;
  line-height: 22px;
  text-transform: lowercase;
  padding: 11.1px 93.7px 11.73px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.browse-match-section.is-logged .cards-list-area{
  padding-top: 37px;
}
/* #endregion */

/* #region match detail */
.match-detail-page .match-detail{
  padding-top: 26px;
}
.match-detail-page .match-detail .cards-list{
  align-items: center;
  flex-direction: column;
}
.match-detail-page .match-detail .card{
  padding: 0;
  width: calc(100% - 40px);
  max-width: 416px;
  margin: 0 auto 7px;
}
.match-detail-page .match-detail .card .match-id-area{
  text-align: right;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #FAFAFA;
  transform: translateX(18px);
}
.match-detail-page .match-detail .card .match-id-area .match-id{
  padding-bottom: 6px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.match-detail-page .match-detail .card .match-id-area .match-id span{
  font-weight: 900;
}
.match-detail-page .match-detail .card .match-id-area .remaining-time{
  padding-bottom: 17px;
}
.match-detail-page .match-detail .card .match-id-area .remaining-time span{
  color: #F75A00;
}
.match-detail-page .match-detail .match-rules-area{
  background: #30372F;
  mix-blend-mode: normal;
  border-radius: 4px;
  padding: 25px 33px;
  width: calc(100% - 40px);
  max-width: 416px;
  margin:0 auto 7px;
}
.match-detail-page .match-detail .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding-bottom: 15px;
}
.match-detail-page .match-detail .match-rules-area .txt span{
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  padding-bottom: 15px;
}
.match-detail-page .match-detail .button-area{
  background: #30372F;
  mix-blend-mode: normal;
  border-radius: 4px;
  width: calc(100% - 40px);
  max-width: 416px;
  margin:0 auto;
  padding: 23px 33px;
}
.preview img{
  display: none;
}
.match-detail-page .match-detail .button-area .button a{
  display: block;
  text-align: center;
  padding: 5.4px 0;
  margin-bottom: 10px;
}
.match-detail-page .match-detail .button-area .txt{
  display: flex;
  flex-direction: column;
}
.match-detail-page .match-detail .button-area .txt .start-time{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  padding-bottom: 8px;
}
.match-detail-page .match-detail .button-area .txt .remaining-time{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 26px;
}
.match-detail-page .match-detail .button-area .txt .remaining-time span{
  color: #F75A00;
}
.match-detail-page .match-detail .button-area .button{
  padding: 0 45px;
}
/* #endregion */

/* #region my chellenges */
.my-chellenges-page .my-chellenges-section .section-title{
  padding: 26px 0 26px 53px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
}
.my-chellenges-page .my-chellenges-section .card .game-status{
  font-size: 10px;
  line-height: 12px;
  color: #272727;
  padding: 6px 4.4px;
  border-radius: 2px;
  position: absolute;
  top: 9px;
  right: 10px;
}
.my-chellenges-page .my-chellenges-section .card .game-status.green{
  background: #00D902;
}
/* #endregion */

/* #region create match */
.create-match-page .create-match{
  padding: 27px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-match-page form{
  padding: 33px 66px 44px;
  background: #272727;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  width: calc(100% - 40px);
  max-width: 416px;
  margin:0 auto;
}
.create-match-page form .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  text-align: center;
  padding-bottom: 27px;
}
.create-match-page form .input-fields{
  display: flex;
  flex-direction: column;
}
.create-match-page form .input-field{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
}
.create-match-page form .input-field .label-area{
  display: flex;
  justify-content: space-between;
}
.create-match-page form .input-field .label-area label{
  font-size: 8px;
  line-height: 10px;
  padding-left: 13px;
  padding-bottom: 5px;
  color: #C7C7C7;
}
.create-match-page form .input-field .current{
  border: 0;
  background: #313F30;
  border-radius: 4px;
  padding: 12.5px 13px;
  height: 42px;
  background-image: url('/images/select_arrows.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  cursor: pointer;
}
.create-match-page form .input-field .list{
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  z-index: 8;
  display: none;
}
.create-match-page form .input-field .list div{
  border: 0;
  background: #313F30;
  padding: 10px 13px;
  cursor: pointer;
  transition: .3s;
}
.create-match-page form .input-field .list div:hover,
.create-match-page form .input-field .list div.selected{
  background: #354734;
  color: #FFB608;
}
.create-match-page form .input-field .inputs {
  display: flex;
  justify-content: space-between;
}
.create-match-page form .input-field .inputs input,
.create-match-page form .input-field textarea{
  padding: 12.5px 13px;
  background: #313F30;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  max-width: 100%;
  min-width: 100%;
}
.create-match-page form .input-field textarea{
  min-height: 93px;
}
.create-match-page form .input-field .add-option{
  display: flex;
  justify-content: space-between;
}
.create-match-page form .input-field .add-option input{
  padding: 5px 10px;
  background: #313F30;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  width: 70%;
  border: 1px solid #C7C7C7;
}
.create-match-page form .input-field .add-option input.add-prize{
  border: 0;
  width: 100%;
  padding: 12.5px 13px;
}
.create-match-page form .input-field .add-option button{
  width: 28%;
  padding: 5px 13px;
  font-size: 14px;
  cursor: pointer;
}
.create-match-page form .button{
  text-align: center;
  padding-top: 10px;
}
.create-match-page form .button button{
  text-align: center;
  width: 49%;
  padding: 7px 0;
  cursor: pointer;
}
#createMatchErrorPopup, #createMatchSuccessNotify, #noMoneyErrorPopup, #resetPasswordPopup, #joinerPlayingErrorPopup, #verifyEmailFailedNotify, #verifyEmailSuccessNotify, #addUsernamePopup, #joinSuccessPopup, #gameCreateErrorPopup, #noUsernamePopup, #userBusyErrorPopup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(69, 88, 67, .9);
  display: none;
}
#createMatchErrorPopup .popup-container, #createMatchSuccessNotify .popup-container, #noMoneyErrorPopup .popup-container, #resetPasswordPopup .popup-container, #joinerPlayingErrorPopup .popup-container, #joinSuccessPopup .popup-container, #gameCreateErrorPopup .popup-container, #noUsernamePopup .popup-container, #verifyEmailFailedNotify .popup-container, #verifyEmailSuccessNotify .popup-container, #addUsernamePopup .popup-container, #userBusyErrorPopup .popup-container {
  background: linear-gradient(0deg, rgba(216, 216, 216, 0.1), rgba(216, 216, 216, 0.1)), #151515;
  border-radius: 4px;
  width: 98%;
  max-width: 346px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6.5% 5%;
  text-align: center;
  height: 400px;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#resetPasswordPopup .popup-container, #createMatchErrorPopup .popup-container, #userBusyErrorPopup .popup-container{
  height: auto;
  padding: 20px;
}
#resetPasswordPopup .new-password-area {
    flex-direction: column;
}

#resetPasswordPopup .new-password-area button {
    width: 100%;
    margin-top: 20px;
}

#resetPasswordPopup .new-password-area .input-field {
    margin-bottom: 20px;
}

#resetPasswordPopup .new-password-area .label-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

#resetPasswordPopup .new-password-area .label-area label {
    font-size: 8px;
}
#createMatchErrorPopup .popup-container .img-area, #userBusyErrorPopup .popup-container .img-area, #createMatchSuccessNotify .popup-container .img-area, #noMoneyErrorPopup .popup-container .img-area, #resetPasswordPopup .popup-container .img-area, #joinerPlayingErrorPopup .popup-container .img-area, #joinSuccessPopup .popup-container .img-area, #gameCreateErrorPopup .popup-container .img-area, #noUsernamePopup .popup-container .img-area, #verifyEmailFailedNotify .popup-container .img-area, #verifyEmailSuccessNotify .popup-container .img-area, #addUsernamePopup .popup-container .img-area{
  padding-bottom: 20px;
}
#addUsernamePopup .input-area, #resetPasswordPopup .input-area form{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
#resetPasswordPopup .input-area form{
  align-items: flex-end;
}
#resetPasswordPopup .input-area #resetPassSaveForm{
  flex-direction: column;
}
#addUsernamePopup .input-area input, #resetPasswordPopup .input-area input{
  width: 70%;
  padding: 8px 13px;
}
#resetPasswordPopup .input-area input{
  width: 100%;
}
#addUsernamePopup .input-area button, #resetPasswordPopup .input-area button{
  width: 20%;
  cursor: pointer;
}
#resetPasswordPopup .input-area button{
  height: 35px;
  margin-left: 20px;
}
#resetPasswordPopup .new-password-area button{
  width: 100%;
}
#resetPasswordPopup .label{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}
#resetPasswordPopup .label label{
  font-size: 12px;
}
/* #endregion */

/* #region history */
.history-page .history-section .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding: 26px 53px;
}
.history-page .history-section .card .game-status{
  position: absolute;
  top: 8px;
  right: 9px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #272727;
  border-radius: 2px;
  padding: 3px 7px 5px 7px;
}
.history-page .history-section .card .game-status.won{
  background: #00D902;
}
.history-page .history-section .card .game-status.lost{
  background: #C7C7C7;
}
/* #endregion */

/* #region history detail */
.match-detail-page.history .match-detail .card .match-id-area .remaining-time span{
  color: #00D902;
}
.match-detail-page.history .match-detail .button-area .txt .msg{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  padding-bottom: 15px;
}
.match-detail-page.history .match-detail .button-area .buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.match-detail-page.history .match-detail .button-area .buttons a{
  display: inline-block;
  width: 75%;
  text-align: center;
  padding: 5.4px 0;
}
.match-detail-page.history .match-detail .button-area .buttons .lost-btn,
.match-detail-page.history .match-detail .button-area .buttons .dispute-btn{
  margin-top: 11px;
  border: 1px solid #FFB608;
  border-radius: 5px;
  color: #FFB608;
  transition: .3s;
}
.match-detail-page.history .match-detail .button-area .buttons .lost-btn:hover,
.match-detail-page.history .match-detail .button-area .buttons .dispute-btn:hover{
  border: 1px solid #FAFAFA;
  color: #FAFAFA;
}
#disputePopup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(69, 88, 67, .9);
  display: none;
}
#disputePopup .popup-container {
  background: linear-gradient(0deg, rgba(216, 216, 216, 0.1), rgba(216, 216, 216, 0.1)), #151515;
  border-radius: 4px;
  width: 98%;
  max-width: 346px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 44px 52px 60px;
  text-align: center;
  height: 550px;
  max-height: 90vh;
  overflow-y: auto;
}
#disputePopup .popup-container .section-title{
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #C7C7C7;
  padding-bottom: 21px;
}
#disputePopup .popup-container .txt{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #C7C7C7;
  padding-bottom: 35px;
}
#disputePopup form .input-fields{
  display: flex;
  flex-direction: column;
}
#disputePopup form .input-field{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
}
#disputePopup form .input-field .label-area{
  display: flex;
  justify-content: space-between;
}
#disputePopup form .input-field .label-area label{
  font-size: 8px;
  line-height: 10px;
  padding-left: 13px;
  padding-bottom: 5px;
  color: #C7C7C7;
}
#disputePopup form .input-field .current{
  border: 0;
  background: #313F30;
  border-radius: 4px;
  padding: 12.5px 13px;
  height: 42px;
  background-image: url('/images/select_arrows.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  cursor: pointer;
}
#disputePopup form .input-field .list{
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  z-index: 8;
  display: none;
}
#disputePopup form .input-field .list div{
  border: 0;
  background: #313F30;
  padding: 10px 13px;
  cursor: pointer;
  transition: .3s;
}
#disputePopup form .input-field .list div:hover,
#disputePopup form .input-field .list div.selected{
  background: #354734;
  color: #FFB608;
}
#disputePopup form .input-field .message textarea{
  max-width: 100%;
  min-width: 100%;
  height: 113px;
  padding: 8px 12px;
  background: #313F30;
  border: 0;
  border-radius: 4px;
}
#disputePopup form .input-field .message textarea::placeholder{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
}
#disputePopup form .input-field .attach-file {
  position: relative;
  padding-bottom: 54px;
}
#disputePopup form .input-field .attach-file label{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  padding: 12px;
  background: #313F30;
  border-radius: 4px;
  text-align: left;
}
#disputePopup form .input-field .attach-file #disputeFile {
  opacity: 0;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
}
#disputePopup form #btnDisputeSubmit{
  display: block;
  padding: 5.4px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
/* #endregion */

/* #region profile */
.profile-page .profile-section{
  padding: 20px 35px;
}
.profile-page .profile-section .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding: 8px 0 25px 6px;
}
.profile .info-area{
  display: flex;
  padding-bottom: 18px;
}
.profile .img{
  width: 163px;
  height: 163px;
}
.profile .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-section .profile .info-area .info{
  display: flex;
  padding: 0 25px;
  width: calc(100% - 395px);
}
.profile-section .profile .info-area .info a{
  padding: 30px;
  display: block;
  width: 100%;
}
.profile-section .profile .info-area .info .name-area{
  display: flex;
  align-items: center;
}
.profile-section .profile .info-area .info .name{
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FAFAFA;
}
.profile-section .profile .info-area .info .name-area .status{
  display: inline-block;
  background: #00D902;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}
.profile-section .profile .info-area .country{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #C7C7C7;
  padding: 3px 0 22px;
}
.profile-section .profile .info-area .txt-info{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
}
.profile .funds{
  padding: 21px 31px 27px;
  width: 232px;
}
.profile .funds .txt{
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #C7C7C7;
  padding-bottom: 3px;
}
.profile .funds .fund{
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #F75A00;
  padding-bottom: 14px;
}
.profile .funds .buttons-area{
  display: flex;
  flex-direction: column;
}
.profile .funds .add-funds-btn{
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #272727;
  display: block;
  text-align: center;
  padding: 6.6px 0;
  margin-bottom: 9px;
}
.profile .funds .add-funds-btn:hover{
  color: #FFB608;
}
.profile .funds .claim-funds-btn{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: lowercase;
  color: #FFB608;
  transition: .3s;
}
.profile .funds .claim-funds-btn:hover{
  color: #C7C7C7;
}
.profile-section .profile .history-list{
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}
.profile-section .profile .history-list .item{
  width: 32%;
  text-align: center;
  padding: 23px 0 32px;
}
.profile-section .profile .history-list .item .txt{
  font-size: 10px;
  line-height: 12px;
  color: #C7C7C7;
  padding-bottom: 6px;
}
.profile-section .profile .history-list .item .count{
  font-weight: 900;
  font-size: 38px;
  line-height: 30px;
  color: #FFB608;
}
.profile-section .profile .game-handle{
  padding: 23px 16px 12px;
}
.profile-section .profile .game-handle .txt-area{
  display: flex;
  justify-content: space-between;
  padding: 0 8px 15px;
}
.profile-section .profile .game-handle .txt-area p{
  font-size: 10px;
  line-height: 12px;
  color: #C7C7C7;
}
.profile-section .profile .game-handle .txt-area a{
  display: flex;
  align-items: center;
  color: #C7C7C7;
  font-size: 10px;
  line-height: 12px;
  transition: .3s;
}
.profile-section .profile .game-handle .txt-area a svg{
  fill: #C7C7C7;
  margin-left: 3.4px;
  transition: .3s;
}
.profile-section .profile .game-handle .txt-area a:hover {
  color: #FFB608;
}
.profile-section .profile .game-handle .txt-area a:hover svg{
  fill: #FFB608;
}
.profile-section .profile .game-handle .games-list{
  display: flex;
    flex-wrap: wrap;
}
.profile-section .profile .game-handle .games-list .item{
  padding: 0 8px;
  max-width: 25%;
  display: flex;
  flex: 0 0 25%;
    margin-top: 15px;
}
.profile-section .profile .game-handle .games-list .item .outer{
  padding: 17px 0;
  mix-blend-mode: normal;
  border: 1px solid #686868;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profile-section .profile .game-handle .games-list .item .img-area svg{
  fill: #C7C7C7;
  width: 100px;
  height: 28px;
}
.profile-section .profile .game-handle .games-list .item .name{
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  padding-top: 14px;
}
.profile-section .profile .game-handle .games-list .item .input-area{
  display: flex;
  padding-top: 20px;
}
.profile-section .profile .game-handle .games-list .item .input-area input{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  padding: 5px;
}
.profile-section .profile .game-handle .games-list .item .input-area button{
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}
.profile-section .profile .as-button{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.profile-section .profile .as-button .acc-sec-btn{
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #272727;
  padding: 6.6px 6%;
  text-align: center;
  white-space: nowrap;
}
.profile-section .profile .as-button .acc-sec-btn:hover{
  color: #FFB608;
}
/* #endregion */

/* #region account security */
.account-security-page .account-security-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
.account-security-page .account-security-section .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;
  padding-bottom: 20px;
}
.account-security-section #accountSecurityForm{
  padding: 36px 48px;
  width: 100%;
  max-width: 465px;
  margin: 0 auto;
  background: #272727;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}
.account-security-section #accountSecurityForm label{
  font-size: 8px;
  line-height: 10px;
  color: #C7C7C7;
  padding-left: 12px;
  padding-bottom: 5px;
}
.account-security-section #accountSecurityForm .input-field{
  padding-bottom: 14px;
}
.account-security-section #accountSecurityForm input{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  padding: 12px;
}
.account-security-section #accountSecurityForm .button{
  text-align: center;
  padding-top: 20px;
}
.account-security-section #accountSecurityForm button{
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #272727;
  padding: 6.6px 0;
  width: 80%;
}
.account-security-section #accountSecurityForm button:hover{
  color: #FFB608;
}
/* #endregion */

/* #region personal detail */
.personal-detail-page .personal-detail-section{
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal-detail-section .profile .funds{
  margin-left: 20px;
}
.personal-detail-section .personal-detail{
  width: 100%;
}
.personal-detail-section #personalDetailForm{
  margin-top: 20px;
  padding: 36px 48px;
  background: #272727;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  width: calc(100% - 40px);
  max-width: 416px;
  margin: 0 auto;
}
.personal-detail-section #personalDetailForm .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;
  padding-bottom: 20px;
}
.personal-detail-section #personalDetailForm .input-field{
  position: relative;
  padding-bottom: 16px;
}
.personal-detail-section .input-field .label-area{
  display: flex;
  justify-content: space-between;
}
.personal-detail-section .input-field .label-area label{
  font-size: 8px;
  line-height: 10px;
  padding-left: 13px;
  padding-bottom: 5px;
  color: #C7C7C7;
}
.personal-detail-section .input-field input,
.personal-detail-section .input-field textarea{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  padding: 12px;
  background: #313F30;
  border-radius: 4px;
}
.personal-detail-section .input-field textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 93px;
}
.personal-detail-section .input-field .current {
  border: 0;
  background: #313F30;
  border-radius: 4px;
  padding: 12.5px 13px;
  height: 42px;
  background-image: url(/images/select_arrows.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  cursor: pointer;
}
.personal-detail-section .input-field .list {
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  z-index: 8;
  display: none;
}
.personal-detail-section .input-field .list div {
  border: 0;
  background: #313F30;
  padding: 10px 13px;
  cursor: pointer;
  transition: .3s;
}
.personal-detail-section .input-field .list div:hover, .personal-detail-section .input-field .list div.selected {
  background: #354734;
  color: #FFB608;
}
.personal-detail-section #personalDetailForm .button {
  text-align: center;
  padding-top: 20px;
}
.personal-detail-section #personalDetailForm button {
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #272727;
  padding: 6.6px 0;
  width: 80%;
}
.personal-detail-section #personalDetailForm #btnVerifyEmail{
  margin-top: 5px;
  width: 100px;
  font-size: 11px;
}
.personal-detail-section #personalDetailForm button:hover {
  color: #FFB608;
}
/* #endregion */

/* #region deposit */
.deposit-page .tab-area{
  display: flex;
}
.deposit-page .tab-item{
  width: 33.33%;
  text-align: center;
  background: #30372F;
}
.deposit-page .tab-item a{
  display: block;
  padding: 15px 0;
}
.deposit-page .tab-item a:hover,
.deposit-page .tab-item a.active{
  background: #313F30;
  color: #FFB608;
}
.deposit-page .section-title{
  padding-left: 20px;
}
.deposit-page .tab-header{
  display: flex;
}
.deposit-page .tab-header .tab-link{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.deposit-page .tab-header .tab-link.active a{
  border: 3px solid #313F30;
}
.deposit-page .tab-header a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17px;
  border: 3px solid #686868;
  border-radius: 4px;
}
.deposit-page .tab-header a img {
  width: 100%;
  max-width: 150px;
  height: auto;
}
.deposit-page .tab-content .tab{
  display: none;
}
.deposit-page .tab-content .tab.active{
  display: block;
}
.deposit-page .tab-section{
  display: none;
}
.deposit-page .tab-section.active{
  display: block;
}
.deposit-page .tab-section {
  max-width: 1300px;
  margin: 20px auto;
  padding: 0 20px;
  border-radius: 4px;
}
.deposit-page .deposit-area,
.deposit-page .withdraw-area{
  border: 1px solid #30372F;
  padding: 30px;
}
.deposit-page form{
  padding: 20px;
}
.deposit-page .input-field{
  padding-bottom: 30px;
}
.deposit-page .input-field .label-area{
  display: flex;
  justify-content: space-between;
}
.deposit-page .input-field label{
  font-size: 8px;
  line-height: 10px;
  padding-left: 13px;
  padding-bottom: 5px;
  color: #C7C7C7;
}
.deposit-page .input-field input{
  padding: 12.5px 13px;
    background: #313F30;
    border: 0;
    font-size: 14px;
    line-height: 17px;
    color: #C7C7C7;
    width: 100%;
}
.deposit-page form .button{
  text-align: center;
}
.deposit-page form button{
  text-align: center;
  padding: 7px 30px;
  cursor: pointer;
}
.deposit-page .transactions-area{
  width: 100%;
  max-width: 685px;
  margin: 0 auto;
  padding: 35px 40px;
  background: #272727;
  border: 1px solid #30372F;
  border-radius: 4px;
  mix-blend-mode: normal;
}
.deposit-page .transactions-area .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;
  padding-bottom: 35px;
  padding-left: 0;
}
.deposit-page .transaction-header{
  display: flex;
  border-bottom: 4px solid #3B3B3B;
  padding-bottom: 11px;
}
.deposit-page .transaction-header .item{
  width: 22.2%
}
.deposit-page .transaction-header .item:last-child{
  width: 73px;
}
.deposit-page .transaction-header .item,
.deposit-page .transaction-header .item a{
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
}
.deposit-page .transaction-header .item a{
  display: flex;
  align-items: center;
}
.deposit-page .transaction-header .item svg{
  transform: rotate(90deg);
  margin-left: 6px;
}
.deposit-page .transactions-list{
  display: flex;
  flex-direction: column;
}
.deposit-page .transactions-list .item{
  display: flex;
  padding: 11px 0;
  border-bottom: 1px solid #3B3B3B;
}
.deposit-page .transactions-list .item p{
  width: 22.2%;
}
.deposit-page .transactions-list .item p:last-child{
  width: 73px;
}
.deposit-page .transactions-list .item p,
.deposit-page .transactions-list .item a{
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #FAFAFA;
}
.deposit-page .transactions-list .item a{
  color: #FFB608;
}

/* #endregion */

/* #region not found */
.not-found-page{
  background: linear-gradient(0deg, rgba(69, 88, 67, 0.66), rgba(69, 88, 67, 0.66)), url('../images/not-found-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply, normal;
  mix-blend-mode: normal;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-page .txt-area{
  color: #FAFAFA;
  max-width: 241px;
  margin-right: 102px;
}
.not-found-page h1{
  font-weight: 900;
  font-size: 100px;
  line-height: 62px;
  text-transform: lowercase;
}
.not-found-page h1 span{
  font-size: 60px;
  display: inline-block;
}
.not-found-page .txt{
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0 20px;
}
.not-found-page .txt span{
  font-weight: 900;
}
.not-found-page .go-back-btn{
  display: inline-block;
  color: #272727;
  font-size: 18px;
  line-height: 22px;
  padding: 10.7px 77.7px;
}
.not-found-page .go-back-btn:hover{
  color: #FFB608;
}

/* #endregion */

/* #region footer */
footer{
  padding: 45px 0 20px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-navigation-area{
  width: 100%;
}
footer .footer-logo{
  padding-right: 70px;
}
footer .footer-logo img{
    width: min-content;
}
footer .footer-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}
footer .footer-navigation .list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 31px;
}
footer .footer-navigation .name{
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  color: #FAFAFA;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding-bottom: 9px;
}
footer .footer-navigation .item{
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: #FAFAFA;
  mix-blend-mode: normal;
  opacity: 0.3;
  margin-bottom: 7px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
footer .footer-navigation .item:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
  opacity: 1;
}
footer .sponsors-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 0 23px;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}
footer .sponsors-area .sponsors{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .sponsors-area .sponsors .name{
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  color: #FAFAFA;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding-bottom: 6px;
}
footer .sponsors-area .sponsors .list a{
  display: inline-block;
  margin: 0 8px;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
footer .sponsors-area .sponsors .list a:hover{
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
footer .sponsors-area .sponsors .list img{
  max-height: 22px;
}
footer .bottom-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 22px 0 0;
}
footer .bottom-area *{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: rgba(250, 250, 250, .3);
  mix-blend-mode: normal;
}
footer .bottom-area .created-txt{
  text-transform: initial;
}
footer .bottom-area a{
  opacity: 1;
  display: inline-block;
}
footer .bottom-area a:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
}
footer .bottom-area .btn-terms{
  margin-right: 16px;
}
/* #endregion */

/* #region responsive */
@media only screen and (max-width: 1024px) {
  .title{
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  header{
    left: 0;
    height: 52px;
    justify-content: flex-end;
  }
  header.active{
    left: 0;
  }
  header .layer{
    display: none;
  }
  header .menu-btn{
    margin-left: 0;
    position: absolute;
    right: 20px;
  }
  header .menu-btn a::before, header .menu-btn a::after{
    right: 0;
  }
  header .buttons-area .user-info-area{
    display: none;
  }
  header .lng-area{
    display: none;
  }
  .left-navigation.open .lng-area.mobile{
    display: flex;
    position: static;
    justify-content: center;
    background: #30372F;
    width: 100%;
  }
  .left-navigation.open .lng-area.mobile a {
    display: flex;
    margin: 0 10px;
  }
  .left-navigation.open .lng-area.mobile a img {
    width: 30px;
    height: 30px;
  }
  .left-navigation .logo-area.mobile{
    display: block;
    padding-left: 17px;
  }
  .left-navigation .logo-area{
    display: none;
  }
  .left-navigation {
    width: 0;
  }
  .left-navigation.open{
    width: 100%;
  }
  .left-navigation .bottom-info .create-match-area{
    text-align: center;
  }
  .left-navigation .bottom-info .create-btn{
    width: auto;
    padding: 6.6px 45px;
  }
  body{
    padding-left: 0;
  }
  main{
    padding-top: 52px;
  }
  .left-navigation .games-list{
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    right: 0;
    background: #30372F;
  }
  .left-navigation .games-list .item .name{
    display: none!important;
  }
  .left-navigation .games-list .item {
    width: 25%;
  }
  .left-navigation .games-list .item a {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .left-navigation.open .games-list{
    display: none;
  }
  .left-navigation .bottom-logo{
    display: none;
  }
  header .user-info.mobile{
    position: static;
    top: unset;
    left: unset;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
  }
  .left-navigation.open .user-info{
    display: block;
  }
  header .buttons-area .notification-area .notifications {
    position: fixed;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0%);
    width: 100%;
    overflow: auto;
  }
  header .buttons-area .notification-area .n-list .item .notification{
    width: 80%;
    left: 0;
    bottom: 0;
  }
  .home-main>section{
    padding: 0 30px;
  }
  .home-section{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-section .txt-area,
  .home-section .img-area,
  .who-we-are-section .who-we-are-area .img-area,
  .who-we-are-section .who-we-are-area .txt-area {
    padding: 0;
    width: 100%;
  }
  .who-we-are-section,
  .what-we-do-section{
    background: #30372F;
  }
  .what-we-do-area .buttons-area {
    width: 263px;
    margin-top: 30px;
}
  .who-we-are-section .layer{
    display: none;
  }
  .who-we-are-section .who-we-are-area{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 65.5px 0;
  }
  .who-we-are-section .who-we-are-area .txt-area .description,
  .who-we-are-section .who-we-are-area .img-area img{
    max-width: 100%;
    padding: 0;
  }
  .what-we-do-area .list{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .what-we-do-section .title{
    padding: 0 0 32px;
  }
  .what-we-do-area .list .item{
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0 0 13px 0px #242923;
    max-width: 263px;
    width: 100%;
  }
  .questions-section .questions-list{
    padding: 0 0 77px;
  }
  .questions-section .questions-list .item .question{
    font-size: 20px;
    max-width: 90%;
  }
  .about-section{
    padding: 0;
  }
  footer{
    flex-direction: column;
    align-items: center;
    padding: 0 30px 80px;
  }
  footer .footer-logo,
  footer .footer-navigation .list,
  .short-desc{
    padding: 0;
  }
  .who-we-are-section .who-we-are-area .txt-area .buttons-area{
    padding-left: 0;
  }
  footer .footer-navigation{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 55px;
  }
  footer .footer-navigation .item{
    width: 100%;
  }
  footer .sponsors-area,
  footer .bottom-area{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  footer .sponsors-area .sponsors {
    width: 100%;
    padding: 14px 0;
  }
  footer .terms-and-privacy{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .bottom-area .btn-terms{
    margin-right: 0;
  }
  footer .bottom-area *{
    line-height: 33px;
  }
  .home-section .txt-area, .home-section .img-area, .who-we-are-section .who-we-are-area .img-area, .who-we-are-section .who-we-are-area .txt-area{
    text-align: center;
  }
  .home-section .txt-area h1{
    font-size: 30px;
  }
  header .buttons-area .login-btn a{
    display: none;
  }
  .left-navigation .navigation a{
    margin: 12px 0 13px 30px;
  }
  .cards-list{
    padding: 0 30px 38px;
  }
  .cards-list .card{
    width: 100%;
    padding: 0;
  }
  .filter-item{
    width: 33.33%;
  }
  .match-detail-page .match-detail .cards-list{
    padding: 0 0 80px;
  }
  .match-detail-page .match-detail .card,
  .match-detail-page .match-detail .match-rules-area,
  .match-detail-page .match-detail .button-area{
    width: 100%;
  }
  .cards-list .card .txt-area{
    flex-direction: column;
    position: relative;
  }
  .match-detail-page .match-detail .card .match-id-area{
    transform: translateX(0);
    position: absolute;
    top: 13px;
    right: 21px;
  }
  .cards-list .card .img-area{
    height: 106px;
  }
  .cards-list .card .img-area img{
    height: 100%;
    object-fit: cover;
  }
  .create-match-page form{
    padding: 33px 22px 44px;
    margin: 0 auto 70px;
  }
  .popup-outer .input-field {
    width: 100%;
  }
  .popup-outer .tab-header .tab-link{
    padding: 10px 20px;
  }
  #loginPopUp .popup-content{
    min-height: auto;
  }
  .profile .info-area{
    flex-wrap: wrap;
  }
  .profile .img{
    order: 1;
    width: 141px;
    height: 141px;
    margin-right: 11px;
    margin-bottom: 8px;
  }
  .profile-section .profile .info-area .info{
    order: 3;
    width: 100%;
    padding: 0;
  }
  .profile .funds{
    order: 2;
    padding: 14px 31px 13px;
    margin-bottom: 8px;
  }
  .profile .funds .txt{
    font-size: 8px;
  }
  .profile .funds .fund{
    font-size: 22px;
  }
  .profile .funds .buttons-area a{
    font-size: 8px;
  }
  .profile-section .profile .info-area .info .name{
    font-size: 16px;
  }
  .profile-section .profile .info-area .country{
    font-size: 8px;
  }
  .profile-section .profile .history-list,
  .profile-section .profile .game-handle .games-list{
    flex-wrap: wrap;
  }
  .profile-section .profile .history-list .item{
    width: 48%;
    margin-bottom: 12px;
  }
  .profile-section .profile .game-handle{
    box-shadow: 0 0 13px 1px #181b18;
    border-radius: 4px;
  }
  .profile-section .profile .game-handle .games-list .item{
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 13px;
  }
  .profile-page .profile-section {
    padding: 20px 35px 50px;
  }
  .account-security-section #accountSecurityForm{
    padding: 30px 20px;
  }
  .personal-detail-section #personalDetailForm{
    padding: 36px 20px;
    width: 100%;
    margin: 0 auto 50px;
  }
  .personal-detail-section .profile .funds{
    margin-left: 0;
  }
  .deposit-page .tab-section {
    margin: 20px auto 80px;
    padding: 0;
  }
  #disputePopup .popup-container{
    height: auto;
    max-height: 70vh;
  }
}
@media only screen and (max-width: 767px){
  .deposit-page .deposit-area, .deposit-page .withdraw-area {
    padding: 30px 0px;
  }
  .deposit-option-area{
    display: flex;
  }
  .deposit-page .tab-header{
    flex-direction: column;
  }
  .deposit-page .tab-header a img{
    max-width: 100px;
  }
  .deposit-page .tab-content{
    width: calc(100% - 176px);
  }
  .deposit-page .transaction-header .item, .deposit-page .transaction-header .item a,.deposit-page .transactions-list .item p, .deposit-page .transactions-list .item a{
    font-size: 8px;
  }
  .deposit-page .transactions-area{
    padding: 35px 10px;
  }
}
@media only screen and (max-width: 454px){
  .profile .funds{
    width: 100%;
  }
  .deposit-page .tab-item a{
    font-size: 12px;
  }
  .deposit-page .tab-header .tab-link,
  .deposit-page .tab-header a,
  .deposit-page form{
    padding: 10px;
  }
  .deposit-page .tab-header a img {
    max-width: 70px;
  }
  .deposit-page .tab-content {
    width: calc(100% - 112px);
}
}
/* #endregion */
.mr-l8{
    margin-left: 8px;
}
