.one-tournament-page, .tournament-page {
    position: relative;
    background-image: url('./../images/one-tournament/one_tournament_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding-bottom: 20px;
}
.one-tournament-page::after, .tournament-page::after{
    position: absolute;
    content: '';
    background: rgba(48, 55, 47, 0.89);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.one-tournament-page .breadcrumbs-area, .tournament-page .breadcrumbs-area{
    background: rgba(255,255,255, 0);
}
.one-tournament-area .header-area .console-type-area{
    display: inline-block;
    background: #323935;
    margin-left: 21px;
    padding: 0 18px;
}
.one-tournament-area .header-area .console-type{
    display: flex;
    align-items: center;
    padding: 6px 11.8px;
}
.one-tournament-area .header-area .console-type span{
    display: inline-block;
    padding-left: 5px;
    font-size: 12.5px;
    line-height: 5px;
    letter-spacing: -0.3125px;
    color: #00D100;
}
.one-tournament-area .header-area .entery-area{
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
}
.one-tournament-area .header-area .entery-area .sec-title, .tournament-page .tournament-area .sec-title{
    font-size: 37.5524px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    font-weight: 400;
}
.one-tournament-area .header-area .entery-area .entery{
    display: flex;
    flex-direction: column;
}
.one-tournament-area .header-area .entery-area .entery a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12.5px;
    line-height: 5px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    background: #F75A00;
    min-width: 105px;
    height: 21px;
    border: 1px solid #F75A00;
    border-radius: 5px;
    transition: .3s;
}
.one-tournament-area .header-area .entery-area .entery a.owned{
    background: #00D100;
    border: 1px solid #00D100;
}
.one-tournament-area .header-area .entery-area .entery a:first-child{
    margin-bottom: 8px;
}
.one-tournament-area .header-area .entery-area .entery a:hover{
    background: rgba(255,255,255, 0);
}
.one-tournament-area .info-area{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #7E9B80;
    border-bottom: 1px solid #7E9B80;
    background: rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.one-tournament-area .info-area .info-list{
    display: flex;
}
.one-tournament-area .info-area .info-list .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #30372F;
    width: 250px;
    height: 58px;
}
.one-tournament-area .info-area .info-list .item .txt-area{
    padding-left: 12px;
    color: #FFFFFF;
    letter-spacing: -0.3125px;
    line-height: 5px;
    font-size: 12.5px;
}
.one-tournament-area .info-area .info-list .item .txt-area p:first-child{
    font-weight: 900;
    margin-bottom: 16px;
}
.one-tournament-area .info-area .info-list .item .txt-area p:last-child{
    font-weight: 400;
}
.one-tournament-area .info-area .info-list .item{
    margin-right: 12px;
}
.one-tournament-area .info-area .info-list .item:last-child{
    margin-right: 0;
}
.one-tournament-area .info-area .participants{
    display: flex;
    align-items: center;
}
.one-tournament-area .info-area .participants .list{
    max-width: 208px;
    display: flex;
}
.one-tournament-area .info-area .participants .list a{
    width: 58px;
    height: 58px;
    background: #F75A00;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one-tournament-area .info-area .participants .list a img{
    width: 58px;
    height: 58px;
}
.one-tournament-area .info-area .participants .list .item:nth-child(2){
    transform: translateX(-30px);
}
.one-tournament-area .info-area .participants .list .item:nth-child(3){
    transform: translateX(-60px);
}
.one-tournament-area .info-area .participants .list .item:nth-child(4){
    transform: translateX(-90px);
}
.one-tournament-area .info-area .participants .list .item:nth-child(5){
    transform: translateX(-120px);
}
.one-tournament-area .info-area .participants .list .item:nth-child(6){
    transform: translateX(-150px);
}
.one-tournament-area .info-area .participants .txt-area{
    text-align: right;
    padding-right: 7px;
}
.one-tournament-area .info-area .participants .txt-area p{
    font-weight: 900;
    font-size: 12.5px;
    line-height: 5px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
}
.one-tournament-area .info-area .participants .txt-area span{
    font-size: 25px;
    line-height: 12px;
    letter-spacing: -0.246681px;
    color: #F75A00;    
    display: inline-block;
    margin-top: 17px;
}
.one-tournament-area .one-tournament{
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
}
.one-tournament-area .one-tournament .overview-area{
    width: 45.3%;
}
.one-tournament-area .one-tournament .section-title{
    font-size: 33.8697px;
    line-height: 13px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    margin-bottom: 25px;
    padding-left: 10px;
}
.one-tournament-area .one-tournament .best-places{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.one-tournament-area .one-tournament .best-places .item{
    background: #30372F;
    margin-bottom: 12px;
    width: 47%;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0 10px;
}
.one-tournament-area .one-tournament .best-places .item .place{
    border-bottom: 2px solid #455A3D;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
.one-tournament-area .one-tournament .best-places .item .place span{
    font-weight: 900;
    font-size: 12.5px;
    line-height: 5px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    transform: translateX(-10px);
    display: inline-block;
}
.one-tournament-area .one-tournament .best-places .item .txt1{
    font-size: 26.518px;
    line-height: 10px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    margin-top: 10px;
}
.one-tournament-area .one-tournament .best-places .item .txt2{
    font-size: 12.5px;
    line-height: 5px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 10px;
}
.one-tournament-area .one-tournament .game-info{
    border-top: 2px solid #455A3D;
    width: 80%;
    margin-left: 10px;
}
.one-tournament-area .one-tournament .game-info .row{
    display: flex;
    border-bottom: 2px solid #455A3D;
    padding: 10px;
}
.one-tournament-area .one-tournament .game-info .row .name{
    font-size: 12.5px;
    line-height: 5px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    width: 80px;
}
.one-tournament-area .one-tournament .game-info .row .value{
    font-weight: 900;
    font-size: 12.5px;
    line-height: 5px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
}
.one-tournament-area .one-tournament .game-info .row .value.game{
    color: #F75A00;
}
.one-tournament-area .tabs-area{
    width: 53.7%;
    border: 2px solid #7E9B80;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 25px;
}
.one-tournament-area .tabs-area .tab-header {
    display: flex;
    margin-bottom: 26px;
}
.one-tournament-area .tabs-area .tab-header a{
    position: relative;
    display: inline-block;
    font-size: 12.5px;
    padding: 0 5px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    transition: .3s;
    border-bottom: 2px solid #A3C597;
}
.one-tournament-area .tabs-area .tab-header a:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #F75A00;
}
.one-tournament-area .tabs-area .tab-header a.active{
    font-weight: 900;
}
.one-tournament-area .tabs-area .tab-header a.active:after{
    width: 100%;
}
.one-tournament-area .tabs-area .tab-header a:not(.active):hover:after{
    width: 100%;
}
.one-tournament-area .tabs-area .tab-content>.item{
    display: none;
}
.one-tournament-area .tabs-area .tab-content>.item.active{
    display: block;
}
.one-tournament-area .tabs-area .tab-content .item .brackets{
    display: flex;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .column-label{
    font-size: 12.5px;
    text-align: center;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group .item{
    background: #30372F;
    border: 1px solid #455A3D;
    border-radius: 10px; 
    padding: 0 10px;
    position: relative;
    margin-bottom: 19px;
    height: 67px;
}
.one-tournament-area .tabs-area .tab-content .item .brackets:first-child .column .groups-list .group:last-child .item:last-child{
    margin-bottom: 0;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group .item::after{
    position: absolute;
    content: '';
    width: 19px;
    height: 2px;
    background: #455A3D;
    top: 50%;
    transform: translateY(-50%);
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:not(:first-child) .groups-list .group .item::after{
    left: -20px;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:first-child .groups-list .group .item::after{
    right: -19px;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:nth-child(2) .groups-list .group .item::before{
    position: absolute;
    content: '';
    width: 19px;
    height: 2px;
    background: #455A3D;
    top: 50%;
    transform: translateY(-50%);
    right: -19px;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group .item .player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group .item .player:first-child:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);
    height: 2px;
    background: #455A3D;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group .item .name{
    font-size: 12.5px;
    padding: 8.65px 5px 8.65px 10px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group .item .score{
    font-size: 12.5px;
    letter-spacing: -0.3125px;
    background: #232B22;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 18px;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group .item .score.win{
    color: #00FE1E;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group .item .score.lost{
    color:#455A3D;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column{
    width: calc(33.33% - 6px);
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:not(:first-child){
    padding-left: 19px;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:first-child{
    padding-right: 19px;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column .groups-list .group{
    position: relative;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:not(:last-child) .groups-list .group::after{
    position: absolute;
    content: '';
    right: -19px;
    width: 2px;
    top: 32.5px;
    bottom: 32.5px;
    background: #455A3D;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:nth-child(2) .groups-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 43px 0;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:nth-child(2) .groups-list .group{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.one-tournament-area .tabs-area .tab-content .item .brackets .column:last-child{
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.one-tournament-area .tabs-area .tab-content .item .participants-list{
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.one-tournament-area .tabs-area .tab-content .item .participants-list .participant{
    position: relative;
    background: #232B22;
    padding: 14px 0;
    width: calc(25% - 11px);
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.one-tournament-area .tabs-area .tab-content .item .participants-list .participant.active{
    display: flex;
}
.one-tournament-area .tabs-area .tab-content .item .participants-list .participant .layer{
    position: absolute;
    background-color: rgba(255,255,255, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.one-tournament-area .tabs-area .tab-content .item .participants-list .participant .img-area{
    width: 58px;
    height: 58px;
    overflow: hidden;
    border-radius: 50%;
}
.one-tournament-area .tabs-area .tab-content .item .participants-list .participant .img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.one-tournament-area .tabs-area .tab-content .item .participants-list .participant .txt-area{
    font-size: 10.4167px;
    letter-spacing: -0.260417px;
    color: #FFFFFF;
    margin-top: 11px;
}
.one-tournament-area .tabs-area .tab-content .item[data-tab="participants"] .pagination-area{
    display: flex;
    justify-content: center;
}
.one-tournament-area .tabs-area .tab-content .item[data-tab="participants"] .pagination-area .btn-list{
    display: flex;
}
.one-tournament-area .tabs-area .tab-content .item[data-tab="participants"] .pagination-area .btn-list button{
    background: #232B22;
    border: 1px solid #455A3D;
    width: 24px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10.4167px;
    letter-spacing: -0.260417px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s;
}
.one-tournament-area .tabs-area .tab-content .item[data-tab="participants"] .pagination-area .btn-list button:hover,
.one-tournament-area .tabs-area .tab-content .item[data-tab="participants"] .pagination-area .btn-list button.active{
    background: #F75A00;
    color: #232B22;
}
.one-tournament-area .tabs-area .tab-content .item[data-tab="participants"] .pagination-area .btn-list button.next,
.one-tournament-area .tabs-area .tab-content .item[data-tab="participants"] .pagination-area .btn-list button.prev{
    width: 17px;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list .item {
    background: #455843;
    mix-blend-mode: normal;
    border-radius: 5px;
    margin-bottom: 9px;
    padding: 0 22px 0 31px;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list .plus-btn {
    position: relative;
    background: #FFB608;
    width: 15px;
    height: 5.77px;
    border-radius: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list .plus-btn::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 5.77px;
    background: #FFB608;
    -webkit-transform: rotate(90deg) translateY(0.5px);
    -ms-transform: rotate(90deg) translateY(0.5px);
    transform: rotate(90deg) translateY(0.5px);
    border-radius: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list .item .rule-tab a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 0;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list .item .tab-content {
    display: none;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list .item .tab-content p {
    font-size: 14px;
    line-height: 17px;
    text-transform: lowercase;
    color: #FAFAFA;
    padding-top: 3px;
    padding-bottom: 41px;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list .item.active .rule-tab .plus-btn {
    background: #F75A00;
}
.one-tournament-area .tabs-area .tab-content .item .rules-list .item.active .rule-tab .plus-btn::before {
    background: #F75A00;
    -webkit-transform: rotate(0deg) translateY(0);
    -ms-transform: rotate(0deg) translateY(0);
    transform: rotate(0deg) translateY(0);
}
.one-tournament-area .header-area-mobile,
.tournament-page .tournament-area .tournaments-list .item .v-mobile{
    position: relative;
    padding: 0 28px;
    border-radius: 10px;
    display: none;
}
.one-tournament-area .header-area-mobile .img-area img,
.tournament-page .tournament-area .tournaments-list .item .v-mobile .img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.one-tournament-area .header-area-mobile .type-area,
.tournament-page .tournament-area .tournaments-list .item .v-mobile .type-area{
    position: absolute;
    top: 0;
    left: 28px;
    border-top-left-radius: 10px;
    display: inline-block;
    font-size: 18px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    background: #F75A00;
    padding: 2px 5px;
    text-transform: uppercase;
}
.one-tournament-area .header-area-mobile .txt-area,
.tournament-page .tournament-area .tournaments-list .item .v-mobile .txt-area{
    position: absolute;
    left: 38px;
    right: 38px;
    bottom: 10px;
    border-radius: 10px;
    background: rgba(48, 55, 47, 0.8);
    padding: 15px;
}
.one-tournament-area .header-area-mobile .txt-area .game-name,
.tournament-page .tournament-area .tournaments-list .item .v-mobile .txt-area .game-name{
    font-weight: 900;
    font-size: 37px;
    line-height: 14px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    margin-bottom: 45px;
}
.one-tournament-area .header-area-mobile .txt-area .txt-info,
.tournament-page .tournament-area .tournaments-list .item .v-mobile .txt-area .txt-info{
    font-size: 25px;
    line-height: 13px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
}
.one-tournament-area .header-area-mobile .txt-area .txt-info p:not(:last-child),
.tournament-page .tournament-area .tournaments-list .item .v-mobile .txt-area .txt-info p:not(:last-child){
    margin-bottom: 15px;
}
.one-tournament-area .header-area-mobile .txt-area .bottom-area,
.tournament-page .tournament-area .tournaments-list .item .v-mobile .txt-area .bottom-area{
    display: flex;
    justify-content: space-between;
}
.one-tournament-area .header-area-mobile .txt-area .bottom-area .entery,
.tournament-page .tournament-area .tournaments-list .item .v-mobile .txt-area .bottom-area .entery{
    display: flex;
    flex-direction: column;
}
.one-tournament-area .header-area-mobile .txt-area .bottom-area .entery a,
.tournament-page .tournament-area .tournaments-list .item .v-mobile .txt-area .bottom-area .entery a{
    font-size: 16px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    background: #F75A00;
    min-width: 105px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.one-tournament-area .header-area-mobile .txt-area .bottom-area .entery a:not(:last-child),
.tournament-page .tournament-area .tournaments-list .item .v-mobile .txt-area .bottom-area .entery a:not(:last-child){
    margin-bottom: 8px;
}
.one-tournament-area .overview-mobile{
    margin-top: 54px;
    text-align: center;
    display: none;
    margin-bottom: 50px;
}
.one-tournament-area .overview-mobile .title{
    font-weight: 900;
    font-size: 37px;
    line-height: 13px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.one-tournament-area .overview-mobile .txt{
    font-size: 25px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
}

.tournament-page .tournament-area{
    padding: 0 18px;
}
.tournament-page .tournament-area .sec-title{
    margin-top: 20px;
}
.tournament-page .tournament-area .search-area {
    margin-top: 30px;
}
.tournament-page .tournament-area .tournament-search-form{
    margin-bottom: 20px;
}
.tournament-page .tournament-area .search-area .label{
    display: inline-block;
    font-size: 25px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    padding-left: 20px;    
    margin-bottom: 10px;
}
.tournament-page .tournament-area .search-area .tournament-search{
    display: flex;
    width: 60%;
}
.tournament-page .tournament-area .search-area input{
    height: 42.43px;
    background: #30372F;
    border: 1px solid #A3C597;
    padding: 5px;
    border-radius: 0;
}
.tournament-page .tournament-area .search-area button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFB608;
    border: 1px solid #A3C597;
    border-radius: 0;
    width: 123px;
    cursor: pointer;
}
.tournament-page .tournament-area .quick-filter-area .list{
    display: flex;
}
.tournament-page .tournament-area .quick-filter-area .list .item{
    display: flex;
    align-items: center;
    background: #323935;
    border-radius: 5px;
    padding: 2px 9px;
    margin-right: 4px;
}
.tournament-page .tournament-area .quick-filter-area .list .item:last-child{
    margin-right: 0;
}
.tournament-page .tournament-area .quick-filter-area .list:not(:last-child){
    margin-bottom: 11px;
}
.tournament-page .tournament-area .quick-filter-area .list .item span{
    display: inline-block;
    padding-left: 7px;
}
.tournament-page .tournament-area .quick-filter-area .list:last-child .item{
    min-width: 82px;
    justify-content: center;
}
.tournament-page .tournament-area .tournaments-list{
    margin-top: 35px;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk{
    position: relative;
    display: flex;
    background: #30372F;
    border: 1px solid #A3C597;
    max-height: 96px;
    margin-bottom: 17px;
}
.tournament-page .tournament-area .tournaments-list .item .layer{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0);
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .img-area{
    width: 179px;
    height: 94px;
}
.tournament-page .tournament-area .tournaments-list .item .img-area img{
    height: 100%;
    object-fit: cover;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area{
    display: flex;
    width: 100%;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .col{
    width: 15%;
    padding: 5px 10px;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .info-col{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .detail-col{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area p,
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area span{
    display: inline-block;
    font-size: 20px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
    font-weight: 400;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .game-name{
    color: #FFB807;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .join-col{
    display: flex;
    align-items: center;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .join-col p{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00D100;
    border-radius: 5px;
    width: 81px;
    height: 23px;
    font-size: 12.5px;
    letter-spacing: -0.3125px;
    color: #FFFFFF;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .join-col img{
    padding-right: 8px;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .reg-col,
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .prize-col,
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .entery-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .entery-col .title-area{
    text-align: center;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .entery-col .entery-sub{
    font-size: 14px;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .entery-col .entery-count{
    border: 2px solid #F75A00;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tournament-page .tournament-area .tournaments-list .item .v-desk .txt-area .entery-col .entery-free{
    font-size: 20px;
    letter-spacing: -0.3125px;
    color: #00D100;
}

.one-tournament-game{
    position: fixed;
    top: 30%;
    right: 0px;
    background: #272727;
    border: 2px solid #ffb608;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    cursor: pointer;
    z-index: 100;
    padding: 10px;
}
.one-tournament-game .game-content{

}
.one-tournament-game .active{
    width: 500px;
}
.one-tournament-game .close-game-content{
    position: absolute;
    border: 2px solid #ffb608;
    width: 30px;
    background: #272727;
    height: 30px;
    border-radius: 50px;
    left: -15px;
    top: -15px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 110;

}
.one-tournament-game .close-game-content img{
    width: 12px;
}
@media only screen and (max-width: 991px){
    .one-tournament-area .header-area,
    .one-tournament-area .info-area,
    .one-tournament-area .one-tournament .section-title,
    .tournament-page .tournament-area .tournaments-list .item .v-desk{
        display: none;
    }
    .one-tournament-area .header-area-mobile,
    .one-tournament-area .overview-mobile,
    .tournament-page .tournament-area .tournaments-list .item .v-mobile {
        display: block;
    }
    .tournament-page .tournament-area .tournaments-list .item .v-mobile{
        margin-bottom: 33px;
    }
    .one-tournament-area .one-tournament{
        flex-direction: column;
    }
    .one-tournament-area .one-tournament .overview-area {
        width: 100%;
    }
    .one-tournament-area .tabs-area{
        width: 100%;
    }
    .one-tournament-area .one-tournament .best-places .item{
        width: calc(33.33% - 20px);
    }
    .one-tournament-area .one-tournament .game-info{
        width: 100%;
        border: 1px solid #455A3D;
        border-radius: 10px;
        margin: 0;
        overflow: hidden;
        margin-bottom: 57.86px;
    }
    .one-tournament-area .one-tournament .game-info .row{
        background: #30372F;
    }
    .one-tournament-area .one-tournament .best-places{
        justify-content: space-between;
    }
    .one-tournament-area .one-tournament .game-info .row .name,
    .one-tournament-area .one-tournament .game-info .row .value{
        width: 50%;
        text-align: center;
    }
    .tournament-page .tournament-area .search-area .tournament-search{
        width: 90%;
    }
    .tournament-page .tournament-area .search-area input{
        height: 54px;
    }
    .tournament-page .tournament-area .search-area button{
        width: 125px;
    }
    .tournament-page .tournament-area .search-area .quick-filter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}