<%- include("../default/header.ejs") %>
<main class="create-match-page">
    <%- include("../default/popUps/createMatchSuccessNotify.ejs") %>
    <%- include("../default/popUps/createMatchErrorPopup.ejs") %>
    <%- include("../default/popUps/userBusyErrorPopup.ejs") %>
    <%- include("../default/popUps/addUsernamePopup.ejs") %>
    <section class="breadcrumbs-area">
        <div class="btn-back">
            <a href="/browse-game-matches"> <span>
                    < </span> <%=siteData.translations.back%></a>
        </div>
        <div class="breadcrumbs">
            <%=siteData.translations.my_dashboard%> <span> > </span><%=siteData.translations.create_match%>
        </div>
    </section>
    <section class="create-match">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <form name="createMatchForm" id="createMatchForm">
            <h1 class="section-title"><%=siteData.translations.create_match%></h1>
            <div class="input-fields">
                <div class="input-field" data-input="select-game">
                    <div class="label-area">
                        <label><%=siteData.translations.select_game%></label>
                        <span class="validation-error-msg d-none"><%=siteData.translations.required_field_text%></span>
                    </div>
                    <div class="current"></div>
                    <div id="selectGame" class="list">
                        <% siteData.allGames.forEach(function (game) { %>
                        <div data-game-id="<%=game.id%>"><%=game.name%></div>
                        <% }) %>
                    </div>
                </div>
                <div class="input-field" data-input="game-mode">
                    <div class="label-area">
                        <label><%=siteData.translations.game_mode%></label>
                        <span class="validation-error-msg d-none"><%=siteData.translations.required_field_text%></span>
                    </div>
                    <div class="current"></div>
                    <div id="gameMode" class="list">
<!--                        <div class="add-option">-->
<!--                            <input type="text" class="add-input" value="" />-->
<!--                            <button class="btn-add btn-yellow">Add</button>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="input-field" data-input="prize">
                    <div class="label-area">
                        <label><%=siteData.translations.prize%></label>
                        <span class="validation-error-msg d-none"><%=siteData.translations.required_field_text%></span>
                        <span class="no-money-error d-none"><%=siteData.translations.not_enough_money%></span>
                        <span class="min-prize-error d-none">Min 1</span>
                    </div>
                    <!--                    <input type="text" class="" value="" />-->
                    <div class="add-option">
                        <input id="prize-field" type="number" class="add-input add-prize" value="" />
                    </div>
                </div>
                <div class="input-field" data-input="console">
                    <div class="label-area">
                        <label><%=siteData.translations.by_console%></label>
                        <span class="validation-error-msg d-none"><%=siteData.translations.required_field_text%></span>
                    </div>
                    <div class="current"></div>
                    <div id="byConsole" class="list">
                    </div>
                </div>
                <!--                <div class="input-field" data-input="start-at">-->
                <!--                    <div class="label-area">-->
                <!--                        <label>Starts at</label>-->
                <!--                        <span class="validation-error-msg">You cannot have multiple matches at the same time</span>-->
                <!--                    </div>-->
                <!--                    <div class="inputs">-->
                <!--                        <input type="text" id="startsTime" class="datepicker-here" data-timepicker="true"-->
                <!--                               data-date-format="MM dd, " data-time-format='h:ii AA' />-->
                <!--                    </div>-->
                <!--                </div>-->
<!--                <div class="input-field" data-input="server">-->
<!--                    <div class="label-area">-->
<!--                        <label><%#siteData.translations.server%></label>-->
<!--                        <span class="validation-error-msg d-none"><%#siteData.translations.required_field_text%></span>-->
<!--                    </div>-->
<!--                    <div class="current"></div>-->
<!--                    <div id="server" class="list">-->
<!--                    </div>-->
<!--                </div>-->
                <div class="input-field" data-input="note">
                    <div class="label-area">
                        <label><%=siteData.translations.note%></label>
                        <span class="validation-error-msg d-none"><%=siteData.translations.required_field_text%></span>
                    </div>
                    <div>
                        <textarea name="note" id="note">Default note text</textarea>
                    </div>
                </div>
            </div>
            <div class="button">
                <button id="btnCreateMatch" class="btn-yellow"><%=siteData.translations.create_match%></button>
            </div>
        </form>
    </section>
</main>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/datepicker.min.js"></script>
<script src="/javascripts/datepicker.en.js"></script>
<script src="/javascripts/proschall.js"></script>

<script>
    // CKEDITOR.replace( 'note' );
    $(document).on('click', '#selectGame div', function () {
        var gameId = $(this).attr('data-game-id');
        let url = '/challenge/get_game_info';
        requestPost(url, 'gameId=' + gameId, function () {
            if (this.readyState == 4) {
                var result = JSON.parse(this.responseText);
                if (!result.error) {
                    var curr = $('#createMatchForm .input-field > .current:not(.checked)');
                    for (var z = 0; z < curr.length; z++) {
                        $(curr[z]).removeClass('active')
                        $(curr[z]).text('')
                    }

                    var appMode = "";
                    // var appServer = "";
                    var appConsole = "";

                    for (var i = 0; i < result.data.mode.length; i++) {
                        appMode += "<div data-mode-id=" + result.data.mode[i].id + ">" + result.data.mode[i].name + "</div>"
                    }
                    $('#gameMode').html(appMode);


                    for (var k = 0; k < result.data.console.length; k++) {
                        appConsole += "<div data-console-id='" + result.data.console[k].id + "'>" + result.data.console[k].name + "</div>"
                    }
                    $('#byConsole').html(appConsole);

                    // if (result.data.server.length !== 0) {
                    //     document.querySelector(".input-field[data-input='server'].d-none").classList.remove("d-none");
                    //     for (var j = 0; j < result.data.server.length; j++) {
                    //         appServer += "<div data-server-id=" + result.data.server[j].id + ">" + result.data.server[j].name + "</div>"
                    //     }
                    // } else {
                    //     if(document.querySelector(".input-field[data-input='server']:not(.d-none)")) {
                    //         document.querySelector(".input-field[data-input='server']:not(.d-none)").classList.add("d-none");
                    //     }
                    // }
                    // $('#server').html(appServer);
                } else {
                    console.log('something went wrong')
                }

                //TODO In any case hide server and send to back-end static value like '1', in the feature remove all features about game server
                hideLoad()
            }
        })
    })
</script>
</body>

</html>
