<%- include("../default/header.ejs") %>
<%- include("../default/popUps/joinSuccessPopup.ejs") %>
<%- include("../default/popUps/noUsernamePopup.ejs") %>
<%- include("../default/popUps/gameCreateErrorPopup.ejs") %>
<%- include("../default/popUps/noMoneyErrorPopup.ejs") %>
<main class="match-detail-page">
    <section class="breadcrumbs-area">
        <div class="btn-back">
            <a href="/games/<%=data.game_url%>"> <span>
                    < </span> Back</a>
        </div>
        <div class="breadcrumbs">
            Browse Matches <span> > </span>View Match Details
        </div>
    </section>
    <section class="match-detail">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="cards-list">
            <div class="card">
                <div class="img-area">
                    <img src="/images/browse-match/card-header.svg" alt="">
                    <div class="console-logo">
                        <img src="<%=data.console_image%>" alt="">
                    </div>
                    <div class="versus-area">
                        <img src="/images/games/Dota.svg" alt="Dota">
                        <span>1v1</span>
                    </div>
                </div>
                <div class="txt-area">
                    <div class="user">
                        <div class="img-area">
                            <% if(data.user_img === null){ %>
                                <img src="/images/user-placeholder-men.svg" alt="User">
                            <%}else{%>
                                    <img src="<%=data.user_img%>" alt="User">
                            <%}%>
                        </div>
                        <div class="txt-area">
                            <p class="name"><span>Prizechal username: </span><%=data.username%></p>
                            <p class="status"><span>Game username: </span><%=data.username_for_game%></p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="match-id-area">
                            <p class="match-id" id="matchId">Match ID: <span><%=data.challenge_id%></span></p>
<!--                            <p class="remaining-time">Status: <span>1:30:59 Remainings</span></p>-->
                        </div>
                        <div class="row">
                            <div class="txt">
                                <span>Game Mode</span>
                                <p><%=data.mode_name%></p>
                            </div>
<!--                            <div class="txt">-->
<!--                                <span>Starts at</span>-->
<!--                                <p>Aug 27, 5:30 PM</p>-->
<!--                            </div>-->
                        </div>
                        <div class="row">
                            <div class="txt">
                                <span>Entry</span>
                                <p>$<%=data.prize%></p>
                            </div>
                            <div class="txt">
                                <span>Prize</span>
                                <p><%=data.winner_priz%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="match-rules-area">
                <h3 class="section-title">Match rules</h3>
                <div class="txt">
                    <span>
                        <% if(data.description === null){ %>
                            no info
                        <%}else{%>
                            <%-data.description%>
                        <%}%>
                    </span>
<!--                    <span>-->
<!--                        2. Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula-->
<!--                        maximus, ultricies ultrices enim.-->
<!--                    </span>-->
<!--                    <span>-->
<!--                        3. Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula-->
<!--                        maximus, ultricies ultrices enim.-->
<!--                    </span>-->
                </div>
            </div>
            <%if(!joining){ %>
            <div class="button-area">
                <div class="button">
                    <a href="javascript:;" class="btn-yellow join-btn" id="match-join"  data-challenge-id="<%=data.challenge_id%>"><%=siteData.translations.join_match%></a>
                </div>
            </div>
            <%}else{%>
            <div class="button-area">
                You joined to this match
            </div>
            <%}%>
        </div>

    </section>
</main>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
<% if(typeof siteData.showMsg !== "undefined" && siteData.showMsg.show){ %>
    <%- include("../default/components/chat/chat.ejs") %>
<%}%>
</body>

</html>
