<script src="/javascripts/chat.js"></script>
<link rel='stylesheet' href='/stylesheets/chat.css' />



<div class="wrapper" id="chatBox">
    <div class="chat-box">
        <div class="chat-new-count"></div>
        <div class="chat-head">
            <h4>Game # <%=siteData.showMsg.matches_id%></h4>
            <img id="chat-head-img" src="/images/chevron-up-solid.svg" title="Expand Arrow" width="16" />
        </div>
        <div class="chat-body" style="display:none ">
            <div class="msg-insert"></div>
            <div class="chat-text">
                <div class="send-img" id="chat-send-img">
                    <img src="/images/paper-plane-solid.svg" alt="send"/>
                </div>
                <textarea placeholder="Send"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    getMessages();
    setInterval(()=> {
        getMessages();
    }, 15000)

</script>