<%- include("../default/header.ejs") %>
<%- include("../default/popUps/joinSuccessPopup.ejs") %>
<%- include("../default/popUps/gameCreateErrorPopup.ejs") %>
<main class="match-detail-page">
    <section class="match-detail">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="cards-list">
            <div class="card">
                <div class="img-area">
                    <img src="/images/browse-match/card-header.svg" alt="">
                    <div class="console-logo">
                        <img src="<%=data.opponent_info.console_image%>" alt="">
                    </div>
                    <div class="versus-area">
                        <%-data.opponent_info.game_img%>
                        <span><%=data.opponent_info.mode_name%></span>
                    </div>
                </div>
                <div class="txt-area">
                    <div class="user">
                        <div class="img-area">
                            <% if(data.opponent_info.user_img === null){ %>
                                <img src="/images/user-placeholder-men.svg" alt="User">
                            <%}else{%>
                                    <img src="<%=data.opponent_info.user_img%>" alt="User">
                            <%}%>
                        </div>
                        <div class="txt-area">
                            <p class="name"><span>Prizechal username: </span><%=data.opponent_info.username%></p>
                            <p class="status"><span>Game username: </span><%=data.opponent_info.username_for_game%></p>
                        </div>
                    </div>
                    <div class="info">
                        <div class="match-id-area">
                            <p class="match-id" id="matchId">Match ID: <span><%=data.opponent_info.id%></span></p>
<!--                            <p class="remaining-time">Status: <span>1:30:59 Remainings</span></p>-->
                        </div>
                        <div class="row">
                            <div class="txt">
                                <span>Game Mode</span>
                                <p><%=data.opponent_info.mode_name%></p>
                            </div>
                            <div class="txt">
                                <span>Entry</span>
                                <p>$<%=data.opponent_info.prize%></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="txt">
                                <span>Time to end</span>
                                <p id="timer"></p>
                            </div>
                            <div class="txt">
                                <span>Prize</span>
                                <p>$<%=data.opponent_info.winner_priz%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="match-rules-area">
                <h3 class="section-title">Match rules</h3>
                <div class="txt">
                    <span>
                        <% if(data.opponent_info.description === null){ %>
                            no info
                        <%}else{%>
                            <%-data.opponent_info.description%>
                        <%}%>
                    </span>
<!--                    <span>-->
<!--                        2. Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula-->
<!--                        maximus, ultricies ultrices enim.-->
<!--                    </span>-->
<!--                    <span>-->
<!--                        3. Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula-->
<!--                        maximus, ultricies ultrices enim.-->
<!--                    </span>-->
                </div>
            </div>
            <div class="button-area">
                <% if(data.action_status.option == 1){ %>
                    <div class="button">
                        <a href="javascript:;" class="btn-yellow" id="acceptBtn" data-match-id="<%=data.opponent_info.id%>">Accept --<%=data.opponent_info.id%> </a>
                        <a href="javascript:;" class="btn-yellow cancel-btn"  data-match-id="<%=data.opponent_info.id%>">Decline</a>
                    </div>
                <%}else if(data.action_status.option == 2){%>
                    <div class="button">
                        <%if(data.action_status.winning == 1){%>
                        <a href="javascript:;" class="btn-yellow game-btn" data-match-id="<%=data.opponent_info.id%>" data-status="1">I won this game</a>
                        <a href="javascript:;" class="btn-yellow game-btn" data-match-id="<%=data.opponent_info.id%>" data-status="2">I lost this game</a>
                        <%}else if(data.action_status.winning == 2){%>
                            <p>
                                Your opponent press on won
                            </p>
                            <a href="javascript:;" class="btn-yellow game-btn" data-match-id="<%=data.opponent_info.id%>" data-status="2">I lost this game</a>
                            <a href="javascript:;" class="btn-yellow dispute-btn" data-match-id="<%=data.opponent_info.id%>">Open dispute</a>
                        <%}else if(data.action_status.winning == 3){%>
                            <p>
                                Your opponent press on lost
                            </p>
                            <a href="javascript:;" class="btn-yellow game-btn" data-match-id="<%=data.opponent_info.id%>" data-status="1">I won this game</a>
                            <a href="javascript:;" class="btn-yellow dispute-btn" data-match-id="<%=data.opponent_info.id%>">Open dispute</a>
                        <%}else if(data.action_status.winning == 4){%>
                            <p class="waiting-txt">Waiting for opponent</p>
                        <%}else if(data.action_status.winning == 5){%>
                            <p class="waiting-txt">You lost this game</p>
                        <%}else if(data.action_status.winning == 6){%>
                            <p class="waiting-txt">You won this game</p>
                        <%}%>
                    </div>
                <%}else if(data.action_status.option == 3){%>
                    <div class="button">
                        <a href="javascript:;" class="btn-yellow start-game-btn" data-match-id="<%=data.opponent_info.id%>">Start</a>
                    </div>
                <%}else if(data.action_status.option == 4){%>
                    <p class="waiting-txt">Waiting for opponent to start</p>
                <%}else if(data.action_status.option == 5){%>
                    <p class="waiting-txt">Waiting for opponent to accept</p>
                <%}else if(data.action_status.option == '9999'){%>
                    <p class="waiting-txt">Time For this Game are over. your money is back to you</p>
                <%}%>
            </div>
        </div>

    </section>
</main>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
<script>
    let distance = '<%=data.opponent_info.distance%>'
    let matchId = '<%=data.opponent_info.id%>'
    var action_status = JSON.parse('<%-JSON.stringify(data.action_status)%>')
</script>

<script src="/javascripts/match.js"></script>
<% if(typeof siteData.showMsg !== "undefined" && siteData.showMsg.show){ %>
    <%- include("../default/components/chat/chat.ejs") %>

<%}%>
</body>

</html>
