<section id="faq_id" class="questions-section">
    <div class="questions-area">
        <h2 class="title">
            <img src="../images/title-circles.svg" alt="" />
            <%-siteData.translations.frequently_asked_questions%>
        </h2>
<!--        <div class="short-desc">-->
<!--            using our experiences we think that these topics will be useful for you-->
<!--        </div>-->
        <div class="questions-list">
            <% faq.forEach(function (faqs) { %>
                <div class="item">
                    <div class="tab-header">
                        <a href="javascript:;"><span class="question"><%-faqs.question%></span><span
                                class="plus-btn"></span>
                        </a>
                    </div>
                    <div class="tab-content">
                        <p><%-faqs.answer%>
                        </p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div class="layer"></div>
</section>
