<%- include("../default/header.ejs") %>
<main class="browse-match-page">
    <section class="browse-match-section">
        <div class="filter-arae">
            <div class="filter-list">
                <div class="filter-item">
                    <div class="label">
                        <a href="javascript:;">
                            <%=siteData.translations.by_game%>
                            <span class="filter-arrow">
                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M5.48244 5.07578C5.4537 5.12071 5.4197 5.16323 5.38044 5.20249L2.13879 8.44415C1.8459 8.73704 1.37102 8.73704 1.07813 8.44415C0.785236 8.15126 0.785236 7.67638 1.07813 7.38349L3.9968 4.46482L1.28124 1.74926C0.988347 1.45637 0.988347 0.981495 1.28124 0.688602C1.57413 0.395709 2.04901 0.395709 2.3419 0.688602L5.58356 3.93026C5.87645 4.22315 5.87645 4.69802 5.58355 4.99092C5.55183 5.02264 5.51797 5.05093 5.48244 5.07578Z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <ul>
                        <% siteData.allGames.forEach(function (game) { %>
                            <li><a href="/games/<%=game.url%>"><%=game.name%></a></li>
                        <%})%>
                    </ul>
                </div>
                <div class="filter-item">
                    <div class="label">
                        <a href="javascript:;">
                            <%=siteData.translations.by_prize%>
                            <span class="filter-arrow">
                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M5.48244 5.07578C5.4537 5.12071 5.4197 5.16323 5.38044 5.20249L2.13879 8.44415C1.8459 8.73704 1.37102 8.73704 1.07813 8.44415C0.785236 8.15126 0.785236 7.67638 1.07813 7.38349L3.9968 4.46482L1.28124 1.74926C0.988347 1.45637 0.988347 0.981495 1.28124 0.688602C1.57413 0.395709 2.04901 0.395709 2.3419 0.688602L5.58356 3.93026C5.87645 4.22315 5.87645 4.69802 5.58355 4.99092C5.55183 5.02264 5.51797 5.05093 5.48244 5.07578Z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <ul>
                        <li><a href="javascript:;">Min to Max</a></li>
                        <li><a href="javascript:;">Max to Min</a></li>
                    </ul>
                </div>
                <div class="filter-item">
                    <div class="label">
                        <a href="javascript:;">
                            <%=siteData.translations.by_console%>
                            <span class="filter-arrow">
                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M5.48244 5.07578C5.4537 5.12071 5.4197 5.16323 5.38044 5.20249L2.13879 8.44415C1.8459 8.73704 1.37102 8.73704 1.07813 8.44415C0.785236 8.15126 0.785236 7.67638 1.07813 7.38349L3.9968 4.46482L1.28124 1.74926C0.988347 1.45637 0.988347 0.981495 1.28124 0.688602C1.57413 0.395709 2.04901 0.395709 2.3419 0.688602L5.58356 3.93026C5.87645 4.22315 5.87645 4.69802 5.58355 4.99092C5.55183 5.02264 5.51797 5.05093 5.48244 5.07578Z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <ul id="game-check-consoles"></ul>
                </div>
            </div>
        </div>

        <div class="gamer-dashboard-bg d-none">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="header-img d-none">
            <img src="/images/browse-match/browse-match-section.svg" alt="Image">
        </div>
        <div class="cards-list-area">
<!--            <h1 class="section-title d-none">Dota 2 Matches</h1>-->
            <div class="cards-list">

            </div>
            <div class="button-area ">
                <a href="javascript:;" class="more-btn btn-yellow __load_more"><%=siteData.translations.load_more%></a>
            </div>
        </div>
    </section>
</main>
<script>
    var translations = JSON.parse('<%-JSON.stringify(siteData.translations)%>');
</script>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
<script src="/javascripts/getList.js"></script>
<% if(typeof siteData.showMsg !== "undefined" && siteData.showMsg.show){ %>
    <%- include("../default/components/chat/chat.ejs") %>
<%}%>
</body>

</html>
