<section id="addUsernamePopup">
    <div class="popup-container">
        <div class="txt-area">
            <%=siteData.translations.add_username_popup%>
        </div>
        <div class="input-area">
            <input type="text" name="addUsername" id="addUsername" />
            <button id="btnAddUsername" class="btn-yellow"><%=siteData.translations.add%></button>
        </div>
    </div>
</section>
