<section id="createMatchErrorPopup">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/failed-icon.svg" alt="">
        </div>
        <div class="txt-area">
            You cannot create match
        </div>
    </div>
</section>