<section id="createMatchSuccessNotify">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/success-icon.svg" alt="">
        </div>
        <div class="txt-area">
            <%=siteData.translations.create_match_success_notify%>
        </div>
    </div>
</section>