<section id="disputePopup">
    <div class="popup-container popup-dispute">
        <form id="disputeForm" action="/match/dispute" method="POST" enctype="multipart/form-data">
            <h2 class="section-title">File a dispute</h2>
            <p class="txt">
                Please provide us more details <br> about your dispute
            </p>
            <div class="input-fields">
                <div class="input-field">
                    <div class="label-area">
                        <label>Game Results</label>
                        <span class="validation-error-msg err-result d-none">This field is required</span>
                    </div>
                    <div class="current"></div>
                    <div id="disputeGameResult" class="list">
                        <div>Wrong Result 1</div>
                        <div>Wrong Result 2</div>
                        <div>Wrong Result 3</div>
                    </div>
                    <input type="hidden" id="disputeGameResultHidden" name="disputeGameResult" value=""/>
                    <input type="hidden" id="mId" name="mId" value=""/>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>Explanation</label>
                        <span class="validation-error-msg err-explanation d-none">This field is required</span>
                    </div>
                    <div class="message">
                        <textarea name="disputeMessage" id="disputeMessage"
                            placeholder="Enter your explanation here..."></textarea>
                    </div>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>Supporting Documents</label>
                    </div>
                    <div class="attach-file">
                        <div class='preview'>
                            <img src="" id="img" width="100" height="100">
                        </div>
                        <div >
                            <label for="disputeFile">+ attach a file</label>
                            <input name="disputeFile" id="disputeFile" type="file">
                        </div>
                    <!-- <div class='preview'>
                        <img src="" id="img" width="100" height="100">
                    </div>
                    <div >
                        <input type="file" id="file" name="file" />
                        <input type="button" class="button" value="Upload" id="but_upload">
                    </div> -->
                    </div>
                </div>
            </div>
                        <!-- <input type="button" class="button" value="Upload" id="but_upload"> -->
            <div class="button">
                <button id="btnDisputeSubmit" class="btn-yellow">submit</button>
            </div>
        </form>
    </div>
</section>
