<section id="joinSuccessPopup">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/success-icon.svg" alt="">
        </div>
        <div class="txt-area">
            Join success
        </div>
    </div>
</section>