<section id="joinerPlayingErrorPopup">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/failed-icon.svg" alt="">
        </div>
        <div class="txt-area">
            this game is already has been created yet
        </div>
    </div>
</section>