<section class="popup-outer" id="loginPopUp">
    <div class="popup-content">
        <a href="javascript:;" class="btn-close">
            <img src="/images/modal/close-icon.svg" alt="Close">
        </a>
        <div class="tab-header">
            <a href="javascript:;" class="tab-link" data-tab="signin"><%=siteData.translations.sign_in%></a>
            <a href="javascript:;" class="tab-link" data-tab="signup"><%=siteData.translations.sign_up%></a>
        </div>
        <div class="tab-content">
            <div class="tab-item" data-tab="signin">
                <div class="tab-logo">
                    <img src="/images/Logo.svg" alt="Logo" />
                </div>
                <div class="tab-login-error" id="login-error"></div>
                <p class="name"><%=siteData.translations.login%></p>
                <form id="signinForm" onsubmit=" return false;">
                    <div class="input-fields">
                        <div class="input-field">
                            <input type="text" placeholder="<%=siteData.translations.email_or_username%>" id="signinEmail" name="signinEmail" />
                            <span class="email_error_field_l g_error_field"></span>
                        </div>
                        <div class="input-field">
                            <input type="password" placeholder="<%=siteData.translations.password%>" id="signinPassword" name="signinPassword" />
                            <span class="password_error_field_l g_error_field"></span>
                        </div>
                    </div>
                    <div class="buttons">
                        <div>
                            <button id="btnSignIn" class="btn-yellow"><%=siteData.translations.sign_in%></button>
                        </div>
                        <div>
                            <a href="javascript:;" class="resetPass"><%=siteData.translations.reset_password%></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-item" data-tab="signup">
                <form id="signupForm" onsubmit=" return false;">
                    <div class="input-fields">
                        <div class="input-field">
                            <input type="text" placeholder="<%=siteData.translations.first_name%>" id="firstName" name="firstName" />
                            <span class="fname_error_field g_error_field"></span>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="<%=siteData.translations.last_name%>" id="lastName" name="lastName" />
                            <span class="lname_error_field g_error_field"></span>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="<%=siteData.translations.username%>" id="username" name="username" />
                            <span class="username_error_field g_error_field"></span>
                        </div>
                        <div class="input-field">
                            <input type="email" placeholder="<%=siteData.translations.email%>" id="email" name="email" />
                            <span class="email_error_field g_error_field"></span>
                        </div>
                        <div class="input-field">
                            <input type="number" placeholder="<%=siteData.translations.phone%>" id="phone" name="phone" />
                            <span class="phone_error_field g_error_field"></span>
                        </div>
                        <div class="input-field">
                            <input type="password" placeholder="<%=siteData.translations.password%>" id="password" name="password" />
                            <span class="password_error_field g_error_field"></span>
                        </div>
                        <div class="input-field">
                            <input type="password" placeholder="<%=siteData.translations.repassword%>" id="confirmPassword"
                                name="confirmPassword" />
                            <span class="confirmPassword_error_field g_error_field"></span>
                        </div>
                        <div class="input-field">
<!--                            <p class="txt">Do you want to join this match. if yes you should accept with terms and-->
<!--                                conditions;</p>-->
                            <div class="terms-conditions-area">
                                <span class="termsConditions_error_field g_error_field"></span>
                                <input type="checkbox" id="termsConditions" name="termsConditions" />
                                <label for="termsConditions"><%=siteData.translations.agree_terms_button%></label>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <div>
                            <button id="btnSignUp" class="btn-yellow"><%=siteData.translations.sign_up%></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function stopSubmitting(){
        return false
    }
</script>
