<section id="noMoneyErrorPopup">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/failed-icon.svg" alt="">
        </div>
        <div class="txt-area">
            No money
        </div>
    </div>
</section>