<section id="noUsernamePopup">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/failed-icon.svg" alt="">
        </div>
        <div class="txt-area">
            <a href="/profile"> <u>You hav no username for this game, please add username then you can join to match. </u></a>
        </div>
    </div>
</section>