<section id="resetPasswordPopup">
    <div class="popup-container">
        <div class="input-area reset-pass-email">
            <form name="resetPassForm" id="resetPassForm">                
                <div class="input">
                    <div class="label">
                        <label>E-mail</label>
                        <span class="validation-error-msg d-none">Invalid e-mail</span>
                    </div>
                    <input type="text" name="resetPassEmail" id="resetPassEmail" />
                </div>
                <button id="resetPassBtn" class="btn-yellow">Send</button>
            </form>
        </div>
        <div class="input-area reset-pass-confirm d-none" data-confirm-for-email="">
            <form name="resetPassConfirmForm" id="resetPassConfirmForm">
                <div class="input">
                    <div class="label">
                        <label>Validation numbers</label>
                        <span class="validation-error-msg d-none">Error</span>
                    </div>
                    <input type="text" name="resetPassConfirm" id="resetPassConfirm" />
                </div>
                <button id="resetPassConfirmBtn" class="btn-yellow">Confirm</button>
            </form>
        </div>
        <div class="input-area new-password-area d-none" data-token="">
            <form name="resetPassSaveForm" id="resetPassSaveForm">
                <div class="input-fields">
                    <div class="input-field">
                        <div class="label-area">
                            <label>New password</label>
                            <span class="validation-error-msg d-none">Select password</span>
                        </div>
                        <div class="input">
                            <input type="password" name="setNewPass" id="setNewPass" />
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="label-area">
                            <label>Confirm password</label>
                            <span class="validation-error-msg d-none">Not same</span>
                            <span class="min-error-msg d-none">Min 8 symbols</span>
                        </div>
                        <div class="input">
                            <input type="password" name="confirmNewPass" id="confirmNewPass" />
                        </div>
                    </div>
                </div>
                <button id="resetPassSaveBtn" class="btn-yellow">Confirm</button>
            </form>
        </div>
    </div>
</section>
