<section id="userBusyErrorPopup">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/failed-icon.svg" alt="">
        </div>
        <div class="txt-area">
            You cannot create match, You are joined to another game
        </div>
    </div>
</section>
