<section id="verifyEmailFailedNotify">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/failed-icon.svg" alt="">
        </div>
        <div class="txt-area">
            Failed
        </div>
    </div>
</section>