<section id="verifyEmailSuccessNotify">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/success-icon.svg" alt="">
        </div>
        <div class="txt-area">
            Success
        </div>
    </div>
</section>