<%- include("../default/header.ejs") %>
<main class="home-main">
    <% if(siteData.lang === 'en'){ %>
    <div class="terms_cond">
        <p class="term_title">Terms of Service and our Privacy Policy</p>
        <p class="terms_item">
            Please read these Terms of Service and our Privacy Policy carefully before using Prizchall Inc.'s ("Prizchall") Services.
            <br><br>By using our Services, whether as a guest, as a registered user, or otherwise, you agree that these Terms of Service will govern your relationship with Prizchall. If you do not completely agree to these Terms of Service then you must not use any of our Services.
            <br>Prizchall is not endorsed by, directly affiliated with, maintained or sponsored by Apple Inc, Electronic Arts, Activision Blizzard, Take-Two Interactive, Microsoft, Xbox, Sony, Playstation or Epic Games. All content, games titles, trade names and/or trade dress, trademarks, artwork and associated imagery are trademarks and/or copyright material of their respective owners.
            <br><br>Definitions
            <br>“Account” means, any account provided by Prizchall that you create to access certain Services.
            <br>“ Conflict ” means, any controversy related to this agreement, including without limitation claims arising out of or relating to any aspect of the relationship between you and Prizchall, claims that arose before this agreement, and claims that may arise after the termination of this agreement; however, this does not include claims related to or arising from the enforcement or protection of Intellectual Property Rights, and is subject to any applicable statutory consumer rights laws in your local jurisdiction.
            <br><br>“Privacy Policy” means,
            <br>Prizchall policy regarding privacy, which also governs your use of the Services and is incorporated herein by reference. The current version is available on our website.
            <br>“Service” ( or “Services”) means, any website, device, platform, content, and other related products and services provided by Prizchall’ Affiliates, including without limitation any titles, computer code, themes, objects, catch phrases, concepts, artwork, animations, sounds, musical compositions, audio-visual effects, methods of operation, moral rights, documentation, chat transcripts, profile information, recordings of games played using a Prizchall game client, and Prizchall game clients and server software.
            <br>“Terms of Service” (or “Terms”) means, the terms and conditions in this agreement.
            <br>“User Content” means, any and all data that you upload, transmit, or create through the Services, including without limitation character skins, buildings, forum posts, Account personas, profile information, software, sound, images, videos, precise and imprecise location data, EXIF data, timestamps, metadata, and any other content contributed by users to the Services.
            <br><br>Ownership and Limited License
            <br>a)  The Services are owned or licensed by Prizchall, and are protected by Intellectual Property Rights and other proprietary rights laws. Prizchall reserves all right, title, and interest in and to the Services, including without limitation all Intellectual Property Rights and other proprietary rights, that are not explicitly granted to you in these Terms. Your permitted use of the Services is limited by the Intellectual Property Rights of Prizchall.
            <br>b)  Subject to your agreement and continuing compliance with these Terms of Service and any other relevant Prizchall policies, Prizchall grants you a non-commercial, non-exclusive, non-transferable, revocable, limited license, subject to the limitations in these Terms, to access and use the Services for your own entertainment purposes. You agree that you will not use the Services for any other purpose. You acknowledge that in order for Prizchall to provide you with Services, it is necessary to also provide related functionality, such as analytics, measurement, ad personalization, financial transaction processing, fraud prevention, identity checks, security measures, marketing, and customer support.

    </div>
    <%}else{%>
        <div class="terms_cond">
            <p class="term_title">قوانین و مقررات</p>
            <p class="terms_item">
                1.1- اشخاصی که در سایت prizchall ثبت نام می کنند، نشان گر این است که با تمام قوانین سایت آشنا شده و آنها را پذیرفته اند.
<br>
                2.1- prizchall مجاز به تغییر هر گونه قوانین و روند کار می باشد و کاربران توسط اطلاعیه مناسب، از تغییرات قوانین و روندکار قبل از تغییر آن مطالع خواهند شد، شرایط و روندکار برای فعالیت های انجام شده قبل از تغییرات قوانین، بدون تغییر باقی می ماند.
<br>
                3.1- prizchall  حق مسدود کردن کاربری بدون افشای دلیل را برای خود محفوض می دارد.
<br>
                2 - قوانین استفاده از سایت
<br>
                1.2- در صورت تناقص نتیجه کاربر ها موظف هستند عکس و ویدیو در رابطه با بازی مورد نظر ارسال کنند تا نتیجه اثبات شود.
<br>
                3- اطلاعات تماس
<br>
                1.3- اطلاعات تماس کاربر
<br>
                2.3- پیشنهادات تبلیغاتی
<br>
                3.3- پیشنهدات ویژه
<br>
                4.3- موارد امنیتی کاربر
<br>
                5.3- نظر سنجی، جهت ارائه خدمات بهتر
<br>
                6.3- اطلاعیه های مربوط به تغییرات کاربری، برداشت ها و جایزه ها.
<br>
                4 - در صورتی که مایل به دریافت هر گونه پیام های تبلیغاتی نباشید، می توانید درخواست غیر فعال کردن این گونه خدمات را به ایمیل پشتیبانی proschall ارسال کنید.
<br>
                5 - قوانین برداشت
<br>
                1.5 - زمان واریز، 24 ساعت پس از ارسال  درخواست.
<br>
                2.5 - حداقل مبلغ برداشت 10 هزار تومان.
<br>
                3.5 - حداکثر مبلغ برداشت 10 میلیون تومان.
<br>
                4.5 - مبلغ تنها به حساب بانکی صاحب کاربری واریز می شود.
<br>
                *توجه داشته باشید جهت برداشت مبلغ، نام صاحب کارت مقصد باید با نام صاحب کارت واریزی یکی باشد، در غیر این صورت باید کارت مورد نظر بوسیله ارسال مدارک شناسایی تایید گردد.
<br>
                5.5 - حداکثر برداشت، هر 24 ساعت 10 میلیون تومان برای هر کاربر می باشد.
<br>
                6.5 - درخواست برداشت طی 24 ساعت پس از ارسال درخواست از طریق کاربر تایید و پرداخت می شود.
<br>
                7.5 - هر کاربر طی 24 ساعت تنها یک بار مجاز به ارسال درخواست برداشت می باشد و اگر به هر دلیلی در خواست برداشت لغو گردد درخواست بعدی باید پس از 24 ساعت ارسال گردد.

            </p>
        </div>
    <%}%>
</main>
<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>


</body>

</html>
