<%- include("../default/header.ejs") %>
<%- include("../default/popUps/noMoneyErrorPopup.ejs") %>
<main class="one-tournament-page">
    <section class="breadcrumbs-area">
        <div class="breadcrumbs">
            <a href="/">home</a> <span> &gt; </span><a href="/tournament">tournaments</a> <span> &gt; </span> <span id="gTour-name"></span>
        </div>
    </section>
<!--    <section class="one-tournament-game ">-->
<!--        <div class="close-game-content">-->
<!--            <img src="/images/times-solid.svg" alt="">-->
<!--        </div>-->
<!--        <div class="game-content">-->
<!--            <div class="card">-->
<!--                <div class="txt-area">-->
<!--                    <div class="user">-->
<!--                        <div class="txt-area">-->
<!--                            <p class="name"><span>Prizechal username: </span>firstname_2</p>-->
<!--                            <p class="status"><span>Game username: </span>fifa_2_usname</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="info">-->
<!--                        <div class="match-id-area">-->
<!--                            <p class="match-id" id="matchId">Match ID: <span>230</span></p>-->
<!--                            &lt;!&ndash;                            <p class="remaining-time">Status: <span>1:30:59 Remainings</span></p>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="txt">-->
<!--                                <span>Game Mode</span>-->
<!--                                <span> - </span>-->
<!--                                <span>FUT</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="txt">-->
<!--                                <span>Entry</span>-->
<!--                                <span> - </span>-->
<!--                                <span>$3333</span>-->
<!--                            </div>-->
<!--                            <div class="txt">-->
<!--                                <span>Prize</span>-->
<!--                                <span> - </span>-->
<!--                                <span>5999.4</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <section class="one-tournament-area">
        <div class="header-area">
            <div class="console-type-area"> 
                <div class="console-type"> 
                    <svg width="14" height="14" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7807 1.50431C13.7896 1.5112 13.7965 1.51878 13.8048 1.52567C13.7545 1.47261 13.6821 1.41542 13.6346 1.38441C12.2467 0.482372 10.6432 0 8.86392 0C7.19974 0 5.64099 0.459632 4.31033 1.25899C4.21386 1.31619 3.95062 1.49673 3.81487 1.66074V1.66143C5.09867 0.24601 8.87219 3.28289 8.87219 3.28289C10.1774 2.2768 11.3778 1.59114 12.2715 1.3472C13.0185 1.14253 13.5354 1.31343 13.7807 1.50431ZM2.36086 2.84255C2.40014 2.79914 2.44286 2.75848 2.48214 2.71369C2.80671 2.35742 3.2057 2.27128 3.56541 2.29471C3.89274 2.39739 5.40532 2.94247 7.26934 4.70244C7.26934 4.70244 5.17102 6.74287 3.88585 8.82879C2.60205 10.9147 1.83438 12.5541 2.30642 14.8295C0.873775 13.2549 -7.62939e-06 11.1628 -7.62939e-06 8.86531C-7.62939e-06 6.54027 0.895138 4.42404 2.36086 2.84255ZM5.56381 9.7198C6.13301 9.081 6.97991 8.16587 8.09833 7.05366C8.34296 6.8104 8.60137 6.55681 8.87288 6.29427C8.87288 6.29427 9.28152 6.7029 9.81351 7.2404V7.23971C10.4943 7.92744 11.3771 8.82465 11.867 9.34837C12.7394 10.2793 15.2388 13.2032 15.3794 14.8426C15.3794 14.8426 15.9355 13.5422 14.7151 10.5433C13.9178 8.58278 11.5087 5.63893 10.5026 4.6797C10.5026 4.6797 11.4219 3.66809 12.5754 2.96934L12.5823 2.96728C12.5823 2.96728 12.5954 2.95694 12.6161 2.94385C13.1708 2.61308 13.7765 2.35811 14.3595 2.32434C14.9549 2.36638 15.3318 2.80189 15.3318 2.80189C16.8196 4.38821 17.7299 6.52029 17.7299 8.866C17.7299 13.7621 13.7607 17.732 8.86392 17.732C6.26532 17.732 3.92719 16.6115 2.30504 14.8302C2.30573 14.8274 2.49179 13.6587 3.68463 11.9821C3.96509 11.5893 4.98979 10.3634 5.56381 9.7198Z" fill="#C7C7C7"/>
                    </svg>
                    <span id="gTour-console">PS4s</span>
                </div>
            </div>
            <div class="entery-area">
                <h1 class="sec-title" id="gTour-sec-name">Tour name </h1>
                <div class="entery">
                    <a href="javascript:;" id="gTour-ent-fee"></a>
                    <div id="gTour-parts"></div>
                </div>
            </div>
        </div>
        <div class="header-area-mobile">
            <div class="img-area">
                <img src="/images/one-tournament/tornament-header-bg.svg" alt="">
            </div>
            <div class="txt-area">
                <p class="game-name"><%#=tournament.tournamentName%></p>
                <div class="bottom-area">
                    <div class="txt-info">
                        <p id="mgTour-prize">total prize pool: <%#=tournament.tournamentPrize%></p>
                        <p id="mgTour-reg-count">participants: <%#=tournament.registeredUsersCount%>/8</p>
                        <p id="mgTour-start-date">starts <%#=tournament.tournamentStartDate%></p>
                    </div>
                    <div class="entery" id="gTour-ent-buttons">
                        <a href="javascript:;">entery fee : <%#= 8 - parseInt(tournament.registeredUsersCount) %></a>
                    </div>
                </div>
            </div>
            <div class="type-area">
                <p><%#=tournament.consolesName%></p>
            </div>
        </div>
        <div class="overview-mobile">
            <p class="title">overview</p>
            <p class="txt">
                registration opens <%#=tournament.tournamentCreateData%> <br>
                closes <%#=tournament.tournamentCheckInStartDate%>
            </p>
        </div>
        <div class="info-area">
            <div class="info-list">
                <div class="item">
                    <div class="img-area">
                        <img src="/images/prize-icon.svg" />
                    </div>
                    <div class="txt-area">
                        <p id="gTour-prize"></p>
                        <p>total prize pool </p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-area">
                        <img src="/images/time-icon.svg" alt="">
                    </div>
                    <div class="txt-area">
                        <p id="gTour-start-date"></p>
                        <p>tournament start</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-area">
                        <img src="/images/date-icon.svg" alt="">
                    </div>
                    <div class="txt-area">
                        <p id="gTour-checkin-date"></p>
                        <p>chek-in period</p>
                    </div>
                </div>
            </div>
<!--            <div class="participants">-->
<!--                <div class="txt-area">-->
<!--                    <p>participants</p>-->
<!--                    <span>029</span>-->
<!--                </div>-->
<!--                <div class="list">-->
<!--                    <div class="item">-->
<!--                        <a href="javascript:;">-->
<!--                            <img src="/images/participant-icon.svg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <a href="javascript:;">-->
<!--                            <img src="/images/participant-icon.svg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <a href="javascript:;">-->
<!--                            <img src="/images/participant-icon.svg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <a href="javascript:;">-->
<!--                            <img src="/images/participant-icon.svg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <a href="javascript:;">-->
<!--                            <img src="/images/participant-icon.svg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <a href="javascript:;">-->
<!--                            +24-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="one-tournament">
            <div class="overview-area">
                <p class="section-title">overview</p>
                <div class="best-places">
                    <div class="item">
                        <p class="place">
                            <img src="/images/first place cup.svg" alt="">
                            <span>1st PLACE</span>
                        </p>
                        <p class="txt1" id="gTour-first-place">
                            <%#=tournament.tournamentPrize_1%>$
                        </p>
<!--                        <p class="txt2">-->
<!--                            $87 per player-->
<!--                        </p>-->
                    </div>
                    <div class="item">
                        <p class="place">
                            <img src="/images/2nd place cup.svg" alt="">
                            <span>2nd PLACE</span>
                        </p>
                        <p class="txt1" id="gTour-second-place">
                            <%#=tournament.tournamentPrize_2%>$
                        </p>
<!--                        <p class="txt2">-->
<!--                            $37 per player-->
<!--                        </p>-->
                    </div>
<!--                    <div class="item">-->
<!--                        <p class="place">-->
<!--                            <img src="/images/3rd place cup.svg" alt="">-->
<!--                            <span>3rd PLACE</span>-->
<!--                        </p>-->
<!--                        <p class="txt1">-->
<!--                            10$-->
<!--                        </p>-->
<!--                        <p class="txt2">-->
<!--                            $10 per player-->
<!--                        </p>-->
<!--                    </div>-->
                </div>
                <div class="game-info" style="margin-bottom: 30px;">
                    <div class="row">
                        <span class="name">Entry</span><span class="value" id="gTour-entry"> <%###=tournament.tournamentEntry%></span>
                    </div>
                    <div class="row">
                        <span class="name">Game mode</span><span class="value" id="gTour-mode"> <%##=tournament.gameModeName%></span>
                    </div>
                    <div class="row">
                        <span class="name">Game</span><span class="value game" id="gTour-game"><%##=tournament.gameName%></span>
                    </div>
<!--                    <div class="row">-->
<!--                        <span class="name">Region</span><span class="value">North america, Europe</span>-->
<!--                    </div>-->
                </div>
                <p class="section-title">Gamers</p>
                <div class="game-info" id="gTour-members"></div>
            </div>
            <div class="tabs-area">
                <div class="tab-header">
                    <a href="javascript:;" class="active" data-tab="brackets">brackets</a>
<!--                    <a href="javascript:;" data-tab="participants">participants</a>-->
                    <a href="javascript:;"  data-tab="rules">rules</a>
                </div>
                <div class="tab-content">
                    <div class="item active" data-tab="brackets">
                        <div class="brackets">
                            <div class="column">
                                <div class="groups-list">
                                    <p class="column-label">Quarter- Final</p>
                                    <div class="group" id="quarterFinals"></div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="groups-list">
                                    <p class="column-label">Semi- Final</p>
                                    <div class="group" id="semiFinals"></div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="groups-list">
                                    <p class="column-label">Final</p>
                                    <div class="group" id="finals"></div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="item" data-tab="participants">-->
<!--                        <div class="participants-list">-->
<!--                            <div class="participant ">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="participant active">-->
<!--                                <a href="javascript:;" class="layer">&nbsp;</a>-->
<!--                                <div class="img-area">-->
<!--                                    <img src="/images/participant-icon.svg" alt="">-->
<!--                                </div>-->
<!--                                <div class="txt-area">-->
<!--                                    VOLT-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="pagination-area">-->
<!--                            <div class="btn-list">-->
<!--                                <button class="prev"><</button>-->
<!--                                <button class="active">1</button>-->
<!--                                <button>2</button>-->
<!--                                <button>3</button>-->
<!--                                <button class="next">></button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="item " data-tab="rules">
                        <div class="rules-list">
                            <div class="item">
                                <div class="rule-tab">
                                    <a href="javascript:;"><span class="question">how much does it cost to play?</span><span class="plus-btn"></span>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                                        dolor, a
                                        blandit quam. eu purus non porttitor.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="rule-tab">
                                    <a href="javascript:;"><span class="question">how do I claim my funds?</span><span class="plus-btn"></span>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                                        dolor, a
                                        blandit quam. eu purus non porttitor.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="rule-tab">
                                    <a href="javascript:;"><span class="question">what happens if I disagree with a match
                                            result?</span><span class="plus-btn"></span>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                                        dolor, a
                                        blandit quam. eu purus non porttitor.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="rule-tab">
                                    <a href="javascript:;"><span class="question">I’m a newbie: how do I arrange a match?</span><span class="plus-btn"></span>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                                        dolor, a
                                        blandit quam. eu purus non porttitor.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="rule-tab">
                                    <a href="javascript:;"><span class="question">will I always be matched with players at the same
                                            level as
                                            me?</span><span class="plus-btn"></span>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                                        dolor, a
                                        blandit quam. eu purus non porttitor.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="rule-tab">
                                    <a href="javascript:;"><span class="question">where can I purchase play vouchers?</span><span class="plus-btn"></span>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                                        consectetur
                                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                                        dolor, a
                                        blandit quam. eu purus non porttitor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("../default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
<script src="/javascripts/setTournament.js"></script>
</body>

</html>