<section class="about-section">
    <div class="layer top"></div>
    <div class="about-area">
        <h2 class="title">
            <img src="../images/title-circles.svg" alt="" />
            <%-siteData.translations.who_we_are%>
        </h2>
        <div class="short-desc">
            <%-siteData.translations.who_we_title%>
        </div>
        <div class="short-desc">
            <%-siteData.translations.who_we_are_texts_1%>
        </div>
        <div class="about-txt">
            <%-siteData.translations.who_we_are_texts_2%>
        </div>
    </div>
    <div class="layer bottom"></div>
</section>
